{% extends 'supplies/base/base.html' %}
{% load static %}
{% load bootstrap %}
{% load cloudinary %}


    {% block title %}
{{ title }}
{% endblock %}

{% block content %}

    {% if isDevices %}
     <form method="get" class="form-inline justify-content-center">
         <div class="hstack gap-2 bg-light border shadow-sm p-3 mb-5 bg-body rounded justify-content-between">
             <div class="hstack gap-2">
                 {{ filter.form.in_city|bootstrap }} <h4>чи</h4>
                 {{ filter.form.in_place|bootstrap }}
                 {{ filter.form.general_device|bootstrap }}
                 {{ filter.form.serial_number|bootstrap }}
             </div>
             <button class="btn btn-outline-primary my-2" type="submit">Застосувати</button>

</div>
        </form>

        <a href="{% url 'devices_render_to_xls'%}">Export to Excel</a>
    {% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID ({{ devices|length }})</th>
      <th scope="col">Прилад</th>
      <th scope="col">Серійний номер</th>
        {% if isDevices %}
            <th scope="col">Клієнт</th>
        {% endif %}
      <th scope="col">Дата інсталяції</th>
    </tr>
  </thead>
  <tbody>
  {% for device in devices %}
    <tr>
      <th scope="row">{{ device.id }}</th>
      <td>

          {% if device.image %}
              <a href="#" class="pop">
              <div datasrc="{{ device.image.url }}">{{ device.general_device.name }}</div>
</a>

              <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: rgba(255,246,16,0); border-color: rgba(255,246,16,0)">
      <div class="modal-body">
         <a class="full_image_view" href=""><img src="" class="imagepreview" style="width: 100%" ></a>
      </div>
    </div>
  </div>
</div>

              <script>
              $(function() {
		$('.pop').on('click', function() {
            let src = $(this).find('div').attr('datasrc')
			$('.imagepreview').attr('src', src);
            $('.full_image_view').attr('href', src);
			$('#imagemodal').modal('show');
		});
});
              </script>
    {% else %}
         {{ device.general_device.name }}

    {% endif %}


      </td>
      <td>{% if device.serial_number  %}{{ device.serial_number }}{% endif %}</td>
         {% if isDevices %}
            <td>{{ device.in_place.name }}, {{ device.in_place.city_ref.name }}</td>
        {% endif %}
      <td>{{ device.date_installed|date:"d.m.Y" }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}