{% if isAdd_to_exist_order %}
    <select class="form-select my-3" aria-label="Default select example" name="selected_non_completed_order">
  <option selected>Вибрати замовлення</option>
             {% for order in orders %}
                 <option value="{{order.id}}">Замовлення №{{ order.id }}, для: {{ order.place.name }}, {{ order.place.city_ref.name }}, від {{ order.dateCreated|date:"d.m.Y" }}</option>
             {% endfor %}
</select>

     <input type="hidden" name="next" value="{{ request.GET.next }}">
     <button class="btn btn-outline-primary my-2" style="width: 100px" type="submit" name="save">Зберегти</button>
{% else %}
     <input type="hidden" name="next" value="{{ request.GET.next }}">
     <button class="btn btn-outline-primary my-2" style="width: 100px" type="submit" name="save">Зберегти</button>
{% endif %}