{% load bootstrap %}
{% if isPlaceChoosed %}
{% if orders.count > 0 %}
               <div class="btn-group pt-3" role="group" aria-label="Basic radio toggle button group" style="width: fit-content">
  <input type="radio" class="btn-check" name="orderType" value="new_order" id="btnradio1" autocomplete="off" checked hx-post="{% url 'add_to_exist_order_from_cart' %}" hx-trigger="click" hx-target="#orderType">
  <label class="btn btn-outline-primary" for="btnradio1">Нове замовлення</label>

  <input type="radio" class="btn-check" name="orderType" value="add_to_Exist_order" id="btnradio2" autocomplete="off" hx-post="{% url 'add_to_exist_order_from_cart' %}" hx-trigger="click" hx-target="#orderType">
  <label class="btn btn-outline-primary" for="btnradio2">Додати до існуючого</label>
</div>
               <div id="orderType">
               {% include 'partials/add_to_exist_order_from_cart.html' %}
    </div>
    {% if place.isHaveUncompletedPreorders %}
        <div class="alert alert-warning" role="alert">
  <h5>Ця організація має незавершені передзамовлення!</h5>
            <div class="row d-flex justify-content-center align-items-center h-100">
    {% for preorder in preorders %}
        <a href="{% url 'preorderDetail' preorder.id %}"> №{{ preorder.id }} {% if preorder.comment %} | {{ preorder.comment }} {% endif %}  </a>
        {% endfor %}
     </div>
</div>
        {% endif %}
               {% else %}
    {% if place.isHaveUncompletedPreorders %}
        <div class="alert alert-warning" role="alert">
  <h5>Ця організація має незавершені передзамовлення!</h5>
            <div class="row d-flex justify-content-center align-items-center h-100">
    {% for preorder in preorders %}
        <a style="font-weight: bold" class="my-1" href="{% url 'preorderDetail' preorder.id %}"> №{{ preorder.id }} {% if preorder.comment %} | {{ preorder.comment }} {% endif %}  </a>
        {% endfor %}
     </div>
</div>
        {% endif %}
               <input type="hidden" name="orderType" value="new_order">
    <input type="hidden" name="next" value="{{ request.GET.next }}">
     <button class="btn btn-outline-primary my-2" style="width: 100px" type="submit" name="save">Зберегти</button>
       {% endif %}
       {% endif %}
