{% load static %}

<div class="hstack gap-1 {% if order.get_parsel_delivery_status == 1 %} p-2 bg-secondary-subtle rounded{% endif %}">

{% if order.get_parsel_delivery_status == 1 %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="{{ order.id }}" id="register_print_buttons" name="register_print_buttons" hx-target="#register_print_buttons" hx-post="{% url 'get_register_for_orders' %}" hx-trigger="click">
        <label class="form-check-label" for="register_print_buttons">
        </label>
    </div>
{% endif %}

{% if order.place.address_NP and order.place.worker_NP and order.get_parsel_delivery_status == 1 or order.get_parsel_delivery_status == 2 or order.place.address_NP and order.place.worker_NP and not order.statusnpparselfromdoucmentid_set.exists %}
    <button type="button" 
            class="btn p-0 border-0"
            hx-get="{% url 'create_np_document_for_order' order.id %}"
            hx-target="#npModalContent{{ order.id }}"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#npModal{{ order.id }}">
        <img src="{% static 'images/np_icon.png' %}" width="50" height="49" style="border-radius: 10px">
    </button>
{% endif %}
</div>
