{% load mathfilters %}
{% load myapp_extras %}
<div id="order_preview_cell{{ order.id }}" class="mt-5" style="margin-bottom: 50px">


    <div class="hstack gap-3">
     <a href="{% url 'orderDetail' order.id 0 %}?next={{ request.get_full_path|urlencode }}" class="list-group-item list-group-item-action" aria-current="true">
     <div class="card  my-link">
<div class="card-header px-0  {% if not order.isComplete %} bg-warning bg-gradient bg-opacity-25 {% else %} bg-primary bg-gradient bg-opacity-25 {% endif %}">

<div class="d-flex flex-column text-center justify-content-between">
<div class="flex-grow-1">
<div class="d-flex text-center justify-content-between">
<div class="text-end">
    <div class="rounded-end-5 px-4 bg-light text-muted date" >створено: {{order.dateCreated|date:"d.m.Y"}}</div>
{% if order.isComplete %}
      <div class="rounded-end-5 px-4 my-1 bg-light text-muted date">відправлено: {{order.dateSent|date:"d.m.Y"}}</div>
{% endif %}
</div>


    <span class="d-block text-muted my-0"><u class="bg-light rounded-1 px-3 mx-4 py-1">Замовлення №: <b>{{order.id}}</b> </u></span>

    {% if order.for_preorder %}
         {% if order.for_preorder.isPreorder %}
             <p class="mb-1"><u class="text-muted bg-light rounded-1 px-3 mx-4 py-1">Передзамовлення: <b>№{{order.for_preorder.id}}</b></u></p>
             {% else %}
             <p class="mb-1"><u class="text-muted bg-light rounded-1 px-3 mx-4 py-1">Договір: <b>№{{order.for_preorder.id}}</b> {% if order.for_preorder.comment %} | {{ order.for_preorder.comment }} {% endif %} </u></p>
             {% endif %}
      {% endif %}

<div class="text-end">
     {% if request.user|has_group:"empl" or request.user.is_staff %}
      {% if order.dateToSend and not order.isComplete %}
{% now "d.m.Y" as current_date %}
{% if order.dateToSend|date:"d.m.Y" == current_date %}
    <p class="rounded-start-5 px-4 my-0 bg-danger text-light fw-semibold">Відправити:
   <b>Сьогодні</b>
    </p>
{% else %}
    <p class="rounded-start-5 px-4 my-0 bg-warning  fw-semibold">Відправити:
    <b>{{order.dateToSend|date:"d.m.Y"}}</b></p>

{% endif %}
      {% else %}{% endif %}
 {% else %}{% endif %}
{% if order.isComplete %}
    <p class="rounded-start-5 badge px-4 my-1 bg-primary fw-bold">Відправлено</p>
{% else %}
    <p class="rounded-start-5 badge px-4 my-1 bg-warning fw-bold">В очікуванні</p>
{% endif %}

</div>


</div>
<h5 class="px-4">{{order.place.name}}, {{order.place.city_ref.name}}</h5>
</div>
</div>

</div>
     <div class="card-footer py-0 px-0 border-top">
<div class="row">

     {% if order.comment %}
            <div class="col text-center p-1">
    <span class="d-block date text-muted">коментар: </span>
<h5 class="fs-6 mb-1">{{order.comment}}</h5>
</div>
        {% endif %}

 {% if order.npdeliverycreateddetailinfo_set.exists %}
     <div class="col text-center p-1 {% if order.comment %} border-start {% endif %} {% if order.npdeliverycreateddetailinfo_set.exists %} border-end {% endif %} ">
     <span class="d-block date text-muted">статус НП: </span>
          <div id="np_delivery_detail_info_for_order" hx-trigger="load" hx-get="{% url 'np_delivery_detail_info_for_order' order.id %}">
          {% for detailInfo in order.statusnpparselfromdoucmentid_set.all %}
{% if detailInfo.status_code == '9' %}
        <h5 class="fs-6 mb-1 text-success">{{ detailInfo.status_desc }}</h5>
 {% elif detailInfo.status_code == '2' %}
        <h5 class="fs-6 mb-1 text-danger">{{ detailInfo.status_desc }}</h5>
{% else %}
        <h5 class="fs-6 mb-1 text-warning">{{ detailInfo.status_desc }}</h5>
{% endif %}
          {% endfor %}
          </div>
          </div>
     {% endif %}


<div class="col text-end">
<div class="date  p-1 px-3"><span class="text-muted">створив: </span>{{ order.userCreated.first_name  }} {{ order.userCreated.last_name  }} </div>

    {% if order.npdeliverycreateddetailinfo_set.exists %}
      {% for detailInfo in order.npdeliverycreateddetailinfo_set.all %}
           <h6><span class="text-muted badge rounded-start-5 bg-secondary-subtle">{{ detailInfo.document_id }} ({{detailInfo.cost_on_site}} грн.): {{ detailInfo.estimated_time_delivery }}</span></h6>
          {% endfor %}
      {% endif %}

</div>
</div>
</div>
</div>
     </a>
    {% if request.user.is_staff and not order.isComplete %}
    {% if order.place.address_NP and order.place.worker_NP %}
        <div id="np_create_ID_button_subscribe" hx-get="{% url 'np_create_ID_button_subscribe' order.id %}" hx-trigger="np_create_ID_button_subscribe{{order.id}} from:body">
                            {% include 'partials/np_create_ID_button.html' %}
                        </div>

        {% endif %}
        <button class="btn btn-primary btn-lg add-btn" type="submit" hx-target="#order_preview_cell{{ order.id }}" hx-post="{% url 'orders_update_status' order.id %}"><i class="bi bi-send"></i></button>
{#    <form action="" onsubmit="window.mytest()">#}
{#        <button class="btn btn-danger btn-lg add-btn" type="submit" hx-target="#order_delete_cell" hx-delete="{% url 'order_delete' order.id %}" hx-confirm="Ви точно хочете видалити це замовлення?"><i class="bi bi-trash"></i></button>#}
{#    </form>#}
    {% endif %}
    </div>
</div>

