{% load myapp_extras %}
<div id="preorder_preview_cell{{ order.id }}" class="my-4">
    <div class="hstack gap-3">
 <a href="{% url 'preorderDetail' order.id %}?next={{ request.get_full_path }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" style="border-radius: 1rem;">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
      {% if order.isPreorder %}
          <h6 class="mb-1">Передзамовлення №: {{order.id}}</h6>
      {% else %}
          <h6 class="mb-1">Договір №: {{order.id}}</h6>
      {% endif %}

        <p class="mb-1">Для: {{order.place.name}}, {{order.place.city_ref.name}}</p>

{#        {% if order.isComplete %}#}
{#        <p class="mb-2"><span>Статус:</span> <span class="complete">Підтверджено</span></p>#}
{#        {% else %}#}
{#        <p class="mb-2"><span>Статус:</span> <span style="color:  #deb05b; font-weight: bold">В очікуванні</span></p>#}
{#        {% endif %}#}

      {% if order.state_of_delivery == 'Complete' %}
        <p class="mb-2"><span>Статус поставки:</span> <span class="complete">Повністю поставлено</span></p>
          {% elif order.state_of_delivery == 'Partial' %}
          <p class="mb-2"><span>Статус поставки:</span> <span style="color: #deb05b; font-weight: bold">Частково поставлено</span></p>
           {% elif order.state_of_delivery == 'awaiting_from_customer' %}
          <p class="mb-2"><span>Статус поставки:</span> <span style="color: rgba(222,126,91,0.59); font-weight: bold">Формується замовником</span></p>
           {% elif order.state_of_delivery == 'accepted_by_customer' %}
          <p class="mb-2"><span>Статус поставки:</span> <span style="color: #deb05b; font-weight: bold">Підтверджено замовником</span></p>
        {% elif  order.state_of_delivery == 'Awaiting' %}
        <p class="mb-2"><span>Статус поставки:</span> <span style="color: #de925b; font-weight: bold">Замовлено у виробника</span></p>
        {% endif %}

        {% if order.comment %}
            <p class="mb-0"> <span class="text-muted">Комментарiй:</span> {{order.comment}}</p>
        {% endif %}

      </div>
      <div>
          {% if order.isComplete %}
      <p class="opacity-60 text-nowrap date">Дата відправки: {{order.dateSent|date:"d.m.Y"}}</p>
          {% endif %}
      <p class="opacity-60 text-nowrap date">Дата створення: {{order.dateCreated|date:"d.m.Y"}}</p>
      </div>

    </div>
  </a>

{% if not order.isComplete %}

<button class="btn btn-success btn-lg add-btn" type="submit" hx-target="#preorder_preview_cell{{ order.id }}" hx-post="{% url 'updatePreorderStatus' order.id %}"><i class="bi bi-check2"></i></button>
    {% else %}
    {% if request.user|has_group:"admin" or request.user.is_staff %}
    {% if order.state_of_delivery != 'Complete' or order.state_of_delivery != 'awaiting_from_customer' %}
        <div class="form-check">
  <input class="form-check-input" type="checkbox" value="{{ order.id }}" id="xls_preorder_print_buttons" name="xls_preorder_print_buttons" hx-target="#xls_preorder_print_buttons" hx-post="{% url 'get_print_xls_for_preorders' %}" hx-trigger="click">
  <label class="form-check-label" for="xls_preorder_print_buttons">
  </label>
</div>
            <a href="{% url 'preorderDetail-generate-order' order.id %}?next={{ request.get_full_path }}" class="btn btn-primary btn-lg" role="button" data-toggle="tooltip" data-placement="top" title="Згенерувати замовлення"><i class="bi bi-cart-plus-fill"></i></a>
        {% endif %}
    {% endif %}

{% endif %}
    {% if order.state_of_delivery == 'awaiting_from_customer' or order.state_of_delivery == 'accepted_by_customer' %}
        <form action="" onsubmit="window.mytest()">
        <button class="btn btn-danger btn-lg add-btn update-order-status" type="submit" hx-delete="{% url 'delete-preorder' order.id %}"
                    hx-target="#preorders-list"
                    hx-confirm="Are you sure you wish to delete?"><i class="bi bi-trash"></i></button>
    </form>
    {% endif %}


  </div>
  </div>