{% load bootstrap %}
{% load mathfilters %}
{% load myapp_extras %}
{% if cheked %}

    {% csrf_token %}
    <button class="btn btn-lg btn-outline-danger mx-1" type="submit" name="print_choosed" role="button" data-toggle="tooltip" data-placement="top" title="Друкувати вибрані"><i class="bi bi-printer-fill"></i></button>
<button class="btn btn-lg btn-outline-danger" type="submit" name="add_to_register_choosed" data-toggle="tooltip" data-placement="top" title="Додати до реєстру"><i class="bi bi-file-earmark-medical"></i></button>

{% endif %}