 <div id="search-city-section">
    {% csrf_token %}
     <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">1. місто:</label>
  <input  class="form-control" type="text"
           id="search-city-section"
           hx-post="{% url 'search-city-np' %}"
           hx-target='#results'
           hx-trigger="keyup changed delay:1000ms"
           name="search"
           placeholder="Пошук міста...">
</div>

    <div id="results">
        {% include 'partials/search-city-results.html' %}
    </div>
 </div>
