{% load bootstrap %}
{% load mathfilters %}
{% load myapp_extras %}
{% if cheked %}

    {% csrf_token %}
    <button class="btn btn-lg btn-outline-primary m-2" type="submit" name="print_choosed" role="button" data-toggle="tooltip" data-placement="top" title="Export to Excel"><i class="bi bi-filetype-xlsx"></i></button>
    <button class="btn btn-lg btn-success m-2" type="submit" name="print_choosed_and_status_updated" role="button" data-toggle="tooltip" data-placement="top" title="Export to Excel і оновити статус замовлення у виробника"><i class="bi bi-filetype-xlsx"></i></button>
{% endif %}