<label for="exampleFormControlInput1" class="form-label">1. {{ cityType }}:</label>
<h5>
  <i class="bi bi-building"></i> {{ cityType }} {{ cityName }}
    <input type="hidden" name="np-cityref"
        value="{{ cityRef }}" />
    <input type="hidden" name="cityName"
        value="{{ cityName }}" />
</h5>

 <div id="search-street-section">
    {% csrf_token %}
     <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">2. вулиця:</label>
  <input  class="form-control" type="text"
           id="search-street-section"
           hx-post="{% url 'search-street-np' %}"
           hx-target='#resultsStreet'
           hx-trigger="keyup changed delay:1000ms"
           name="search"
           placeholder="Пошук вулиці...">
</div>

    <div id="resultsStreet">
        {% include 'partials/search/search-streets-results.html' %}
    </div>
 </div>



