{% extends 'supplies/base/base.html' %}
{% load myapp_extras %}
{% load crispy_forms_filters %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
     <form method="post" class="form-inline justify-content-center">
      {% csrf_token %}
     <div class="hstack gap-2">
         <div class="hstack w-100 gap-2 bg-light border shadow-sm px-4 py-2 my-3 bg-body rounded justify-content-between">
             <div class="hstack gap-4">
                 {{ preorderFilter.form.state_of_delivery|as_crispy_field }}
                 {{ preorderFilter.form.date_range|as_crispy_field }}
                 {% if request.user|has_group:"empl" or request.user.is_staff %}
                 {{ preorderFilter.form.for_state_of_client|as_crispy_field }}
                 {{ preorderFilter.form.isPreorder|as_crispy_field }}
                     {{ preorderFilter.form.search_text|as_crispy_field }}
                 {% endif %}
             </div>
             <button class="btn btn-outline-primary my-2" type="submit">Застосувати</button>

</div>
     <div class="col d-flex justify-content-end" id="xls_preorder_print_buttons">
        {% include 'partials/preorders/xls_preorders_print_buttons.html' %}
    </div>

     </div>

<div class="col d-flex justify-content-end pe-2">
    {% if isArchiveChoosed %}
         <button type="submit" class="btn btn-outline-primary">
        Сховати архів
    </button>
    {% else %}
         <button type="submit" class="btn btn-outline-primary" name="get_archive_preorders">
        Показати архів
    </button>
    {% endif %}

    </div>

{% if orders.count == 0 %}

    <h3>Передзамовлень ще немає!</h3>
{% else %}
    <div class="container" id="preorders-list">
    {% include 'partials/preorders/preorders-list.html' %}
</div>
{% endif %}

 </form>
 <script>
    function toggle_preorder_pinned_status(preorderId, is_pinned) {
        console.log('Pin tapped for preorder:', preorderId, 'Setting pinned to:', is_pinned);
        htmx.ajax('POST', `update-preorder-status-pinned/${preorderId}`, {
            target: `#preorder_preview_cell${preorderId}`,
            swap: 'outerHTML',
            values: {
                is_pinned: is_pinned
            }
        });
    }
    </script>
    <script type="text/javascript">window.mytest = function() { var isValid = confirm('Ви хочете видалити запис ?');if (!isValid) { event.preventDefault();  alert("It wont delete. Yay!");}}</script>
{% endblock %}