{% extends 'supplies/base/base.html' %}
{% load crispy_forms_filters %}
{% load bootstrap %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container py-1">
    <div class="btn-group my-3">
        <a href="/" class="btn btn-primary {% if isAll %} active {% endif %}" aria-current="page">Всі</a>
        <a href="/childSupply" class="btn btn-primary mx-2 {% if isChild %} active {% endif %}">Список товарів</a>
    </div>

    <form method="get" class="form-inline justify-content-center">
        <div class="container bg-light border shadow p-4 mb-4 rounded-3">
            <div class="hstack gap-3">
                {{ suppFilter.form.ordering|as_crispy_field }}
                {{ suppFilter.form.category|as_crispy_field }}
                {{ suppFilter.form.ref|as_crispy_field }}
                {{ suppFilter.form.supplyLot|as_crispy_field }}
                {{ suppFilter.form.name|as_crispy_field }}
            </div>
            <div class="d-flex gap-3 mt-4">
                <button class="btn btn-primary" type="submit">
                    <i class="bi bi-search me-2"></i>Застосувати
                </button>
                <button type="submit" class="btn btn-primary" name="xls_button">
                    <i class="bi bi-file-earmark-excel me-2"></i>Export to Excel (Без броні)
                </button>
                <button type="submit" class="btn btn-primary" name="all_xls_button">
                    <i class="bi bi-file-earmark-excel me-2"></i>Export to Excel (Всі товари)
                </button>
            </div>
        </div>
    </form>
</div>
        <table class="table centred mt-3 w-auto mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{{supplies|length}} Назва товару</th>
      <th scope="col">Пакування / Тести</th>
        <th scope="col">Категорія</th>
        <th scope="col">REF</th>
        <th scope="col">SMN</th>
        <th scope="col">LOT</th>
        <th scope="col">Кількість</th>
        <th scope="col">Термін</th>
        <th scope="col">Оновлено</th>
    </tr>
  </thead>
  <tbody>
    {% for el in supplies %}

     <tr>
      <th scope="row" style="text-align: left">{{ el.general_supply.name }}</th>
      <td>{{ el.general_supply.package_and_tests }}</td>
     <td>{{ el.general_supply.category }}</td>
      <td>

          {% if el.general_supply.ref is not none %}
                        {{ el.general_supply.ref }}
                {% endif %}
      </td>
     <td>

          {% if el.general_supply.SMN_code is not none %}
                        {{ el.general_supply.SMN_code }}
                {% endif %}
      </td>

         <td class="supplyRow">
                    {% if el.supplyLot is not none %}
                        {{ el.supplyLot }}
                {% endif %}
                    </td>

             <td style="width: 150px"><div><span style="font-weight: 600">{{ el.count }}</span>  {% if el.countOnHold %}  <span style="background-color: orange; font-weight: 600" class="px-2 rounded-2">{{ el.countOnHold }}</span> {% endif %} {% if el.preCountOnHold %}  <span style="background-color: #5bc0de; font-weight: 600" class="px-2 rounded-2">{{ el.preCountOnHold }}</span> {% endif %} </div> </td>
            <td><div style="color:{% if el.date_is_good %}blue{% elif el.date_is_today %}orange{% else %}red{% endif %};">{{ el.expiredDate|date:"d.m.Y" }}

                            </div></td>
            <td>{{ el.dateCreated|date:"d.m.Y" }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>


{% endblock %}
