{% load myapp_extras %}


{% for order in orders %}
    {% if request.user_agent.is_mobile %}
        {% include 'supplies_mobile/preorder_cell.html' %}
    {% else %}
        {% include 'partials/preorders/preorder_preview_cell.html' %}
    {% endif %}

    {% if not forloop.last %}
        {% with next_order=orders|next:forloop.counter0 %}
            {% if order.state_of_delivery != next_order.state_of_delivery %}

                <div style="height: 12px; background-color: rgb(124,124,124); border-radius: 8px; margin-top: 50px; margin-bottom: 50px"> </div>
{#                   {{ next_order.get_state_of_delivery_value }}#}
{#                   <div style="height: 12px; background-color: rgb(124,124,124); border-radius: 8px; margin-top: 50px; margin-bottom: 50px"> </div>#}


            {% endif %}
        {% endwith %}
    {% endif %}

    {% endfor %}