{% load bootstrap %}
{% load mathfilters %}
{% load myapp_extras %}
{% if cheked %}
    {% csrf_token %}
    <div class="vstack gap-1">
    <div class="hstack gap-1">
    <button class="btn btn-lg btn-outline-primary m-2" type="submit" name="print_choosed" role="button" data-toggle="tooltip" data-placement="top" title="Export to Excel"><i class="bi bi-filetype-xlsx"></i></button>
    <button class="btn btn-lg btn-outline-success m-2" type="submit" name="print_choosed_and_status_updated" role="button" data-toggle="tooltip" data-placement="top" title="Export to Excel і оновити статус замовлення на 'Замовлено у виробника'"><i class="bi bi-filetype-xlsx"></i></button>
    </div>
    <div class="hstack gap-1">
   <button class="btn btn-lg btn-outline-primary m-2" type="submit" name="set_is_closed" role="button" data-toggle="tooltip" data-placement="top" title="Архівувати передзамовлення"><i class="bi bi-archive"></i></button>
        <button class="btn btn-lg btn-outline-success m-2" type="submit" name="mark_as_delivery_completed" role="button" data-toggle="tooltip" data-placement="top" title="Маркувати як 'повністю поставлено'"><i class="bi bi-check-circle"></i></button>
    </div>
    </div>

    {% endif %}