{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon.png' %}">
<link rel="apple-touch-icon" sizes="167x167" href="{% static 'images/favicon.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var user = '{{ request.user }}'

        function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getToken('csrftoken');
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.1/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyBANia_FqF-VmM5z0KfxOZCwrH66Co3sG0",
    authDomain: "dmdx-django.firebaseapp.com",
    projectId: "dmdx-django",
    storageBucket: "dmdx-django.appspot.com",
    messagingSenderId: "106138213160",
    appId: "1:106138213160:web:7a4575df49b4dc1226ce1d",
    measurementId: "G-V0KT30X5X8"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

</head>
<body>
{% include 'supplies/base/header.html' %}

    <div class="w-auto">
    <div class="container">
        <div class="spacer" style="height: 2rem;"></div>
        {% if title %}
        <div class="title-wrapper mb-2 p-4 bg-general-navbar rounded-3 shadow-sm">
            <div class="d-flex align-items-center">
                {% if title_icon %}
                    <i class="bi {{ title_icon }} me-3 title-icon"></i>
                {% endif %}
                <h3 class="title-text mb-0" style="white-space: pre-line">{{ title }}</h3>
            </div>
            {% if subtitle %}
                <p class="text-muted mb-0 mt-2">{{ subtitle }}</p>
            {% endif %}
        </div>
        {% endif %}
    </div>

    {% block content %}{% endblock %}
    </div>

{% include 'supplies/base/footer.html' %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
<script type="text/javascript" src="{% static 'js/validation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/htmx.js' %}"></script>

<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: 'DD/MM/YYYY HH:mm',
    });
  });
</script>

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
           event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
        <!-- Enables the popover buttons everywhere -->
        <script>
            $(function () {
          $('[data-toggle="popover"]').popover()
            })
        </script>
        <!-- Enables the tooltips everywhere -->
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
        </script>

{% include 'modal_sheet/genral_modal.html' %}
</body>
</html>