{% load bootstrap %}
{% load mathfilters %}
{% load myapp_extras %}

<div id="cart-badge">
    {% with count_in_cart=supp.id|in_cart %}
        {% with deltaCountOnHold=supp.count|sub:supp.countOnHold|sub:count_in_cart %}
            <button hx-post="{% url 'update_item' supp.id %}"
                    hx-target="closest div #cart-badge" 
                    hx-swap="outerHTML"
                    class="btn btn-sm btn-primary add-btn {% if deltaCountOnHold < 1 %} disabled {% endif %}" 
                    style="min-width: 32px" 
                    type="button">
                {% if count_in_cart %}{{ count_in_cart }}{% else %}<i class="bi bi-cart-plus"></i>{% endif %} 
            </button>
        {% endwith %}
    {% endwith %}
</div>
