{% load bootstrap %}
{% if placeChoosed %}
{% if preorders %}
               <div class="btn-group pt-3" role="group" aria-label="Basic radio toggle button group" style="width: fit-content">
  <input type="radio" class="btn-check" name="orderType" value="Preorder" id="btnradio1" autocomplete="off" checked hx-post="{% url 'orderTypeDescriptionField' %}" hx-trigger="click" hx-target="#orderType">
  <label class="btn btn-outline-primary" for="btnradio1">Нове передзамовлення</label>

  <input type="radio" class="btn-check" name="orderType" value="add_to_Exist_preorder" id="btnradio2" autocomplete="off" hx-post="{% url 'orderTypeDescriptionField_for_client' %}" hx-trigger="click" hx-target="#orderType">
  <label class="btn btn-outline-primary" for="btnradio2">Додати до існуючого</label>
</div>
               <div id="orderType">
         {% include 'partials/orders/orderTypeDescriptionField_for_client.html' %}
    </div>
               {% else %}
               <input type="hidden" name="orderType" value="Preorder">
    <input type="hidden" name="next" value="{{ request.GET.next }}">
     <button class="btn btn-outline-primary my-2" style="width: 100px" type="submit">Зберегти</button>

       {% endif %}
       {% endif %}
