{% load bootstrap %}
{% if isPendingPreorderExist %}
<select class="form-select my-3" aria-label="Default select example" name="place_id" hx-get="{% url 'get_agreement_for_place_for_city_in_cart' %}" hx-trigger="change" hx-target="#agreements">
  <option selected>Вибрати організацію</option>
             {% for place in places %}
                 <option value="{{place.id}}">{{ place.name }}</option>
             {% endfor %}
</select>
{% endif %}

          <div id="agreements">
          {% include 'partials/cart/choose_agreement_forplace_incart.html' %}
      </div>