.nav-wrapper {
    padding: 0 5rem;
    padding-left: 10rem;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.font-italic        { font-style: italic !important; }

.waiting {
    color:orange;
    font-weight: 600;
}

.complete {
    color: green;
    font-weight: 600;
}

.listOrders {
    padding-top: 1rem;
}

.homeList {
    padding-top: 2rem;
}

.date {
    font-weight: 300;
}

.table {
    text-align: center;
    max-height: 80%;
    box-sizing: border-box;
    overflow: auto;
    }
    .table .textAlignLeft {
        text-align: left;
        max-width: 150px;
        }

.btnFilter {
    padding-bottom: 2rem;
}

.body {
    background-color: brown;
}

.load-more {
    text-align: center;
    display: none;
}
.container {
    max-height: 80%;
    box-sizing: border-box;
    overflow: auto;

}

.categoriesList {
    padding-bottom: 1rem;
}

.categoriesList a {
    font-size:x-large;
    font-weight: 400;
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

img {
  border-radius: 10%;
}

/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 3px;
}
