{% load mathfilters %}
{% load myapp_extras %}
<tr class="main_tr">
{#<form method="POST" action="">#}
{#{% csrf_token %}#}
      <th scope="row" style="text-align: left">{{ el.name }}</th>
      <td>{{ el.package_and_tests }}</td>
     <td>{{ el.category }}</td>
      <td>

          {% if el.ref is not none %}
                        {{ el.ref }}
                {% endif %}
      </td>
     <td>

          {% if el.SMN_code is not none %}
                        {{ el.SMN_code }}
                {% endif %}
      </td>

<td class="supplyRow">

<table class="rounded-3 overflow-hidden table table-light table-borderless mb-0 ">
  <tbody>
   {% for supp in supply_list %}
    <tr class="d-flex justify-content-between">

      <td style="width: 150px"><div>{% if supp.supply.supplyLot is not none %} {{ supp.supply.supplyLot }} {% endif %}</div></td>

    <td style="width: 100px">
            {% if request.user.is_staff %}

                <button style="border: none; background: none; color: blue; font-weight: bold" hx-post="{% url 'minus_from_booked_supply_list_item' %}" hx-vals='{"del_sup_id": "{{ supp.id }}"}' hx-target="closest tr.main_tr" hx-swap="outerHTML">-</button>
                <span class="px-2">{{ supp.count_in_order }}</span>
                {% if supp.countOnHold %}  <span style="background-color: orange; font-weight: 600" class="px-2 rounded-2" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="В очікуванні в замовленні">{{ supp.countOnHold }}</span> {% endif %}

                {% if supp.supply.count|sub:supp.supply.countOnHold > 0 %}
                    <button style="border: none; background: none; color: blue; font-weight: bold" hx-post="{% url 'plus_from_booked_supply_list_item' %}" hx-vals='{"del_sup_id": "{{ supp.id }}"}' hx-target="closest tr.main_tr" hx-swap="outerHTML">+</button>
                {% endif %}

            {% else %}

                    <span class="px-2">{{ supp.count_in_order }}</span>
                {% if supp.countOnHold %}  <span style="background-color: orange; font-weight: 600" class="px-2 rounded-2" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="В очікуванні в замовленні">{{ supp.countOnHold }}</span> {% endif %}

            {% endif %}
            </td>

      <td style="width: 100px"> <div style="color:{% if supp.supply.date_is_good %}blue{% elif supp.supply.date_is_today %}orange{% else %}red{% endif %};">{{ supp.date_expired|date:"d.m.Y" }}
 </div>
      </td>

            <td class="px-4">{% include 'booked_flow/cart_button.html' %}

            </td>

    </tr>
     {% endfor %}
  </tbody>
</table>
</td>
{# </form>#}
    </tr>