{% extends 'supplies/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load bootstrap %}
{% load crispy_forms_tags %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="container">
    <h4 style="">Ваші адреси відправки:</h4>
    {% for place in places %}
<li style="font-weight: 400; padding-bottom: 4px">{{ place.cityName }}, {{ place.addressName }}</li>
    {% endfor %}
    </div>


<form method="POST" action="">
  {% csrf_token %}


<section class="card shadow-sm mt-4 p-4" style="background-color: #eee;">
    <h5 class="pb-4"><u style="font-style: italic">Дoдати нову адресу відправки</u></h5>

    <div class="btn-group pt-3" role="group" aria-label="Basic radio toggle button group" style="width: fit-content">
  <input type="radio" class="btn-check" name="recipientType" value="Warehouse" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">На відділення</label>

  <input type="radio" class="btn-check" name="recipientType" value="Doors" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Адресна доставка</label>
</div>
  <div class="container h-100 py-3">
      {% include 'partials/search-city.html' %}
      </div>
        </section>

{% if messages %}
<ul class="messages my-4" style="color: red">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<input type="hidden" name="next" value="{{ request.GET.next }}">
<button class="btn btn-outline-primary my-5" type="submit" name="generalSave">Зберегти</button>
</form>
{% endblock %}