{% extends 'supplies/base.html' %}
{% load mathfilters %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="container py-1">
    <form method="POST" action="" style="display: inline;" onsubmit="window.mytest()">
  {% csrf_token %}
<h3>
    <input type="hidden" name="next" value="{{ request.GET.next }}">
         <small class="text-muted">Для: {{agreement.for_place.name}}, {{agreement.for_place.city_ref.name}}</small>
</h3>
    </form>
{% if agreement.comment %}
<h4>
  <small class="text-muted">Комментарій: {{agreement.comment}}</small>
</h4>
{% endif %}
<h5>
  <small class="text-muted">Cтворив: {{agreement.userCreated.last_name}}</small>
</h5>
{% if agreement.isComplete %}
        <p class="mb-2"><span>Статус:</span> <span class="complete">Закрито</span> <span>{{agreement.dateSent|date:"d.m.Y" }}</span></p>
        {% else %}
        <p class="mb-2"><span>Статус:</span> <span class="waiting">В очікуванні</span></p>
        {%  endif %}

</div>
<div class="container bg-light border shadow-sm p-3 mb-5 bg-body rounded justify-content-between">
     <table class="table centred mt-3 w-auto mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="textAlignLeft" style="min-width: 400px">({{supplies|length}}) Назва товару</th>
      <th scope="col">Пакування/Тести</th>
        <th scope="col">Категорія</th>
        <th scope="col">REF</th>
        <th scope="col">SMN</th>
        <th scope="col">Борг</th>
        <th scope="col">Відвантажено</th>
        <th scope="col">Договір</th>
{#        {% if not order.isComplete and request.user.is_staff %}#}
{#        <th scope="col">Action</th>#}
{#         {% endif %}#}
    </tr>
  </thead>
  <tbody>
    {% for el in supplies %}
   {% with delivered_count=el.getAlreadyDeliveredCount %}
     <tr style="background-color: {% if delivered_count == 0 %} rgba(255,0,0,0.34) {% elif delivered_count >= el.count_in_agreement %}rgba(0,128,0,0.34){% else %}rgba(255,255,0,0.37){% endif %}">
      <th scope="row" style="text-align: left">{{forloop.counter}}. {% if el.generalSupply %} {{ el.generalSupply.name }} {% else %} {{ el.internalName }} {% endif %}</th>
      <td style="min-width: 100px">{% if el.generalSupply %}{{ el.generalSupply.package_and_tests }}{% endif %}</td>
      <td style="min-width: 100px">{% if el.generalSupply %}{{ el.generalSupply.category.name }}{% endif %}</td>
      <td style="min-width: 100px">
          {% if el.generalSupply.ref is not none %}
                        {% if el.generalSupply %} {{ el.generalSupply.ref }} {% else %} {{ el.internalRef }} {% endif %}
                {% endif %}
      </td>
     <td style="min-width: 100px">{% if el.generalSupply.SMN_code is not none %}{{ el.generalSupply.SMN_code }}{% endif %}</td>
         <td> {{ el.count_in_agreement|sub:delivered_count }} </td>
            <td>
                <div class="hstack gap-2 justify-content-center">
{#                    {% if not order.isComplete and request.user.is_staff %}#}
{#                    <button data-product="{{ el.id }}" data-action="remove" class="btn btn-lg update-order-count text-primary" type="submit"><i class="bi bi-dash"></i></button>#}
{#                    {% endif %}#}
                   {{ delivered_count }}
{#                {% if not order.isComplete and request.user.is_staff %}#}
{#                    <button data-product="{{ el.id }}" data-action="add" class="btn btn-lg update-order-count text-primary {% if el.count_in_order|sub:el.supply.count|sub:el.supply.countOnHold == 0 %} disabled {% endif %}" type="submit"><i class="bi bi-plus"></i></button>#}
{#                {% endif %}#}

                </div>
            </td>
            <td> {{ el.count_in_agreement }} </td>
{#     {% if not order.isComplete and request.user.is_staff %}#}
{#     <td><button data-product={{ el.id }} data-action="delete" class="btn btn-sm btn-danger add-btn delete-suppinorder-button"><i class="bi bi-trash"></i></button></td>#}
{#     {% endif %}#}
    </tr>
        {% endwith %}
   {% endfor %}
  </tbody>
</table>
</div>



    <div class="text-center my-3">
    <h5><u>{% if orders %}Замовлення, що були зроблені за цим договором{% else %} За цим договором ще немає замовлень {% endif %}</u></h5>
    </div>
    <div class="list-group list-group-radio d-grid gap-2 border-0 w-auto" id="order_delete_cell">
        {% include 'partials/order_delete_cell.html' %}
</div>


{% endblock %}


