{% extends 'supplies/base.html' %}
{% load myapp_extras %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="container w-50">
    <a href="/upload_supplies_for_new_delivery" class="btn btn-primary my-3 w-100 rounded-pill" aria-current="page">Створити нову поставку</a>

    <div class="listOrders">
        {% for order in deliveries %}
            <div class="py-2" style="border-radius: 1rem;">
             <a href="{% url 'delivery_detail' order.id %}?next={{ request.get_full_path }}" class="list-group-item list-group-item-action bg-light border border-light-subtle custom-list-item p-3" aria-current="true">
                <div class="d-flex flex-column w-100">
                    <div class="d-flex justify-content-between align-items-center m-2">
                        <h6>Поставка №: {{order.id}}</h6>
                        {% if not order.isHasBeenSaved %}
                            <h6 class="text-danger"><i>Не додано на склад</i></h6>
                            {% else %}
                            <h6 class="text-success"><i>Закрито!</i></h6>
                        {% endif %}

                        <div>
                            <p class="opacity-60 text-nowrap date"><span class="text-muted">Дата створення:</span> {{order.date_created|date:"d.m.Y"}}</p>
                            <p class="opacity-60 text-nowrap date"><span class="text-muted">Створив:</span> {{ order.from_user.first_name }} {{ order.from_user.last_name }}</p>
                        </div>

                    </div>

                    {% if order.comment %}
                        <div><span class="text-muted">Коментар:</span> {{order.comment}}</div>
                    {% endif %}


                </div>
            </a>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
