{% extends 'supplies/base.html' %}
{% load bootstrap %}
{% load static %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <form method="get" class="form-inline justify-content-center">
         <div class="hstack gap-2 bg-light border shadow-sm p-3 mb-5 bg-body rounded justify-content-between">
             <div class="hstack gap-2">
                 {{ placeFilter.form.city_ref|bootstrap }}
                 {{ placeFilter.form.isPrivatePlace|bootstrap }}
                 {{ placeFilter.form.name|bootstrap }}
             </div>
             <button class="btn btn-outline-primary my-2" type="submit">Застосувати</button>

</div>
        </form>

<div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3">
    {% for client in clients %}
    <div class="col">

    <div class="card bg-light">
  <div class="card-header" style="background: {% if client.isPrivatePlace %} #ffeeda {% else %} #e4eafd {% endif %} ">
    <div class="hstack justify-content-between">
          <h4>{{client.name}}, {{client.city_ref.name}}.</h4>
          <a href="{% url 'editClientInfo' client.id %}" class="btn btn-sm btn-outline-dark" role="button"><i class="bi bi-pencil"></i></a>
      </div>
  </div>
      <div class="card-body">

        {% if client.preorder_set.count > 0 %}
            <a href="{% url 'agreementsForClient' client.id %}" class="icon-link me-3">
          Передзамовлення ({{ client.preorder_set.count }})
        </a>
        {% endif %}



            {% if client.order_set.count > 0 %}
                <a href="{% url 'ordersForClient' client.id %} " class="icon-link me-3">
          Замовлення ({{ client.order_set.count }})
        </a>
            {% endif %}

      {% if client.servicenote_set.count > 0 %}
            <a href="{% url 'serviceNotesForClient' client.id %}" class="icon-link me-3">
          Cервісні записи ({{ client.servicenote_set.count }})
        </a>
        {% endif %}

      {% if client.device_set.count > 0 %}
                <a href="{% url 'devicesForClient' client.id %}">
          Прилади ({{ client.device_set.count }})
        </a>
            {% endif %}


      <div class="vstack">
          {% if client.address %}

      <ul class="list-inline mb-0">
  <li class="list-inline-item"><h6><i class="bi bi-dot">Адреса:</i></h6></li>
  <li class="list-inline-item">{{ client.address }}</li>
</ul>
      {% endif %}

      {% if client.link %}
          <ul class="list-inline mb-0">
  <li class="list-inline-item"><h6>
      <i class="bi bi-dot">Link:</i></h6></li>
  <li class="list-inline-item">
      <a href="{{ client.link }}" class="link-primary">{{ client.link }}</a>
  </li>
</ul>
      {% endif %}
      </div>

        <p>
{% if client.workers.count > 0 %}

    <h6 class="my-0"><i class="bi bi-dot">Контакти:</i></h6>
<div class="vstack p-1">
    {% for worker in client.workers.all %}
            <div class="hstack">
            <a href="{% url 'editWorkerInfo' worker.id %}?next={{ request.get_full_path|urlencode }}" class="btn btn-sm btn-default" role="button"><i class="bi bi-pencil"></i></a>
            <p class="start-0 mb-0">
               {% if client.worker_NP == worker %} <img style="height: 20px; width: 20px" src="{% static "images/np_logo.png" %}"> {% endif %}{{ worker.secondName }} {{ worker.name }}{% if worker.middleName %} {{ worker.middleName }}{% endif %}
                </p>
                <div class="ms-auto me-2">
                   {% if worker.position %} {{ worker.position }} {% endif %}
                </div>




          <a href="tel:{{ worker.telNumber }}">{{ worker.telNumber }}</a>
            </div>
        <hr class="my-1">
        {% endfor %}

</div>
        {% endif %}

<a href="{% url 'newWorkerForPlace' client.id %}?next={{ request.get_full_path|urlencode }}" class="btn-default">
          Додати контакт
        </a>

      <a href="{% url 'addNewDeviceForClient' client.id %}?next={{ request.get_full_path|urlencode }}" class="btn-default mx-2">
          Додати прилад
        </a>
      </div>
    </div>

    </div>

    {% endfor %}

  </div>
{% endblock %}


