{% extends 'supplies/base.html' %}
{% load bootstrap %}
{% load static %}
{% load crispy_forms_filters %}
{% load myapp_extras %}
{% load static %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <form method="get" class="form-inline justify-content-center">
         <div class="hstack gap-2 bg-light border shadow-sm p-3 mb-5 bg-body rounded justify-content-between">
             <div class="hstack gap-2">
                 {{ placeFilter.form.is_has_options_button|as_crispy_field }}
                 {{ placeFilter.form.city_ref|as_crispy_field }}
                 {{ placeFilter.form.isPrivatePlace|as_crispy_field }}
                 {{ placeFilter.form.name|as_crispy_field }}
             </div>
             <button class="btn btn-outline-primary my-2" type="submit">Застосувати</button>

</div>
        </form>

{% if request.user_agent.is_mobile %}<div class="row row-cols-1 row-cols-lg-1 g-2 g-lg-3"> {% else %} <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3"> {% endif %}
    {% for client in clients %}
    <div class="col">

    <div class="card shadow-sm">
<div class="card-header px-0  {% if client.isPrivatePlace %} bg-warning bg-gradient bg-opacity-25 {% else %} bg-primary bg-gradient bg-opacity-25 {% endif %}">

<div class="d-flex flex-column text-center justify-content-between">
<div class="flex-grow-1 pt-2">
<span class="d-block text-muted">{{client.city_ref.name}}</span>
<h5 class="px-4 py-2">{{client.name}}</h5>
<div class=" d-flex justify-content-between align-items-center">

<span class="badge rounded-end-5 px-4 {% if client.isPrivatePlace %} bg-warning {% else %} bg-primary {% endif %}">{% if client.isPrivatePlace %} Приватні {% else %} Державні {% endif %}</span>
<div class=" d-flex justify-content-end align-items-center">
  <a href="{% url 'newWorkerForPlace' client.id %}" class="btn btn-sm btn-outline-dark" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Додати нового працівника" ><i class="bi bi-person-plus"></i></a>
  <a href="{% url 'addNewDeviceForClient' client.id %}" class="btn btn-sm btn-outline-dark mx-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Додати прилад"><i class="bi bi-device-ssd"></i></a>
  <a href="{% url 'create_note_for_client' client.id %}" class="btn btn-sm btn-outline-dark me-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Додати сервісну замітку"><i class="bi bi-journal-text"></i></a>
<a href="{% url 'editClientInfo' client.id %}" class="btn btn-sm btn-outline-dark mx-2" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Редагувати"><i class="bi bi-pencil"></i></a>
</div>

</div>
</div>
</div>

</div>

        <div class="card-body py-3">
<div class="vstack">
          {% if client.address %}

      <ul class="list-inline mb-0">
  <li class="list-inline-item"><h6><i class="bi bi-dot">Адреса:</i></h6></li>
  <li class="list-inline-item">{{ client.address }}</li>
</ul>
      {% endif %}

      {% if client.link %}
          <ul class="list-inline mb-0">
  <li class="list-inline-item"><h6>
      <i class="bi bi-dot">Link:</i></h6></li>
  <li class="list-inline-item">
      <a href="{{ client.link }}" class="link-primary">{{ client.link }}</a>
  </li>
</ul>
      {% endif %}
      </div>
        {% if client.workers.count > 0 %}

    <h6 class="my-1"><i class="bi bi-dot">Контакти:</i></h6>
<div class="vstack p-1">
    {% for worker in client.workers.all %}
            <div class="hstack">
            <a href="{% url 'editWorkerInfo' worker.id %}?next={{ request.get_full_path|urlencode }}" class="btn btn-sm btn-default" role="button"><i class="bi bi-pencil"></i></a>
            <p class="start-0 mb-0">
               {% if client.worker_NP == worker %} <img style="height: 20px; width: 20px" src="{% static "images/np_logo.png" %}"> {% endif %}{{ worker.secondName }} {{ worker.name }}{% if worker.middleName %} {{ worker.middleName }}{% endif %}
                </p>
                <div class="ms-auto me-2">
                   {% if worker.position %} {{ worker.position }} {% endif %}
                </div>




          <a href="tel:{{ worker.telNumber }}">{{ worker.telNumber }}</a>
            </div>
        <hr class="my-1">
        {% endfor %}

</div>
        {% endif %}
</div>

<div class="card-footer border-top">
<div class="row">
     {% if client.supplyinbookedorder_set.count > 0 %}
         <div class="col text-center">
           <a href="{% url 'booked_sups_list_for_client' client.id %}" type="button" class="btn btn-outline-secondary btn-sm">
          Заброньовані товари <span class="badge bg-secondary"> {{ client.supplyinbookedorder_set.count }} </span>
        </a>
         </div>

        {% endif %}

        {% if client.preorder_set.count > 0 %}
            <div class="col text-center">
            <a href="{% url 'agreementsForClient' client.id %}" type="button" class="btn btn-outline-secondary btn-sm">
          Передзамовлення <span class="badge bg-secondary">{{ client.preorder_set.count }}  </span>
        </a>
             </div>
        {% endif %}



            {% if client.order_set.count > 0 %}
                 <div class="col text-center">
                <a href="{% url 'ordersForClient' client.id %} " type="button" class="btn btn-outline-secondary btn-sm">
          Замовлення <span class="badge bg-secondary">{{ client.order_set.count }} </span>
        </a>
                 </div>
            {% endif %}

      {% if client.servicenote_set.count > 0 %}
           <div class="col text-center">
            <a href="{% url 'serviceNotesForClient' client.id %}" type="button" class="btn btn-outline-secondary btn-sm">
          Cервісні записи <span class="badge bg-secondary"> {{ client.servicenote_set.count }} </span>
        </a>
           </div>
        {% endif %}

      {% if client.device_set.count > 0 %}
           <div class="col text-center">
                <a href="{% url 'devicesForClient' client.id %}" type="button" class="btn btn-outline-secondary btn-sm">
          Прилади <span class="badge bg-secondary">{{ client.device_set.count }} </span>
        </a>
           </div>
            {% endif %}

</div>
</div>
</div>


    </div>

    {% endfor %}


  </div>

    <form method="get" class="form-inline justify-content-center">
        {% if clients.paginator.num_pages > 1 %}
<nav aria-label="Page navigation" class="mt-5">
    <ul class="pagination justify-content-center">
        {% if clients.has_previous %}
            <li class="page-item"><a class="page-link" href="{% my_url clients.previous_page_number 'page' request.GET.urlencode %}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
        {% endif %}

    {% for n in clients.paginator.page_range %}
  {% if clients.number == n %}
       <li class="page-item active"><a class="page-link" href="#">{{ n }}</a></li>
  {% elif n > clients.number|add:'-3' and n < clients.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="{% my_url n 'page' request.GET.urlencode %}">{{ n }}</a></li>
  {% endif %}
{% endfor %}

{#        {% for i in orders.paginator.page_range %}#}
{#            {% if orders.number == i %}#}
{#                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>#}
{#            {% else %}#}
{#                <li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>#}
{#            {% endif %}#}
{#        {% endfor %}#}
        {% if clients.has_next %}
            <li class="page-item"><a class="page-link" href="{% my_url clients.next_page_number 'page' request.GET.urlencode %}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
        {% endif %}

    </ul>
</nav>
{% endif %}
 </form>
{% endblock %}


