{% extends 'supplies/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}


     <div class="w-50 bg-light border shadow-sm p-3 mb-5 bg-body rounded justify-content-between">
     <form method="POST" action="">
{% csrf_token %}
     {{ inputForm.sender_np_place|as_crispy_field }}
     <div class="row g-3">
  <div class="col-sm">
    {{ inputForm.payment_user_type|as_crispy_field }}
  </div>
  <div class="col-sm">
    {{ inputForm.payment_money_type|as_crispy_field }}
  </div>
</div>
         <div class="row g-3">
             <div class="col-sm">
    {{ inputForm.weight|as_crispy_field }}
  </div>
  <div class="col-sm">
    {{ inputForm.width|as_crispy_field }}
  </div>
  <div class="col-sm">
    {{ inputForm.length|as_crispy_field }}
  </div>
             <div class="col-sm">
    {{ inputForm.height|as_crispy_field }}
  </div>

</div>
         <div class="row g-3">
  <div class="col-sm-7">
    {{ inputForm.description|as_crispy_field }}
  </div>
  <div class="col-sm">
    {{ inputForm.seatsAmount|as_crispy_field }}
  </div>
</div>

       <div class="row g-3">
  <div class="col-sm">
    {{ inputForm.cost|as_crispy_field }}
  </div>
  <div class="col-sm">
    {{ inputForm.dateDelivery|as_crispy_field }}
  </div>
</div>

    {% if messages %}
<ul class="messages my-4" style="color: red">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}

</ul>
             <div id="error"></div>
{% endif %}
<input type="hidden" name="next" value="{{ request.GET.next }}">
     <div class="hstack gap-2">
<button class="btn btn-primary" type="submit" name="save_and_print"><i class="bi bi-printer"></i> Зберегти та друкувати</button>
     <button class="btn btn-primary" type="submit" name="save_and_add"><i class="bi bi-file-earmark-plus"></i> Зберегти та додати інший</button>
     <button class="btn btn-primary" type="submit" name="save_and_exit"><i class="bi bi-x-square"></i> Зберегти та вийти</button>
         </div>
</form>
</div>



{% endblock %}