{% extends 'supplies/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
     <div class="{% if request.user_agent.is_mobile %}w-100  {% else %} w-75 {% endif %} bg-light border shadow-sm p-3 mb-5 bg-body rounded justify-content-between">
     <form method="POST" action="">
{% csrf_token %}
     {{ placeForm|crispy }}
     {{ inputForm.sender_np_place|as_crispy_field }}
     <div class="row g-3">
  <div class="col-sm">
    {{ inputForm.payment_user_type|as_crispy_field }}
  </div>
  <div class="col-sm">
    {{ inputForm.payment_money_type|as_crispy_field }}
  </div>
</div>
         <div class="row bg-light rounded p-2 m-2">
             <div class="hstack gap-2">
                              <div class="col-sm">
    {{ inputForm.weight|as_crispy_field }}
  </div>
  <div class="col-sm">
    {{ inputForm.width|as_crispy_field }}
  </div>
  <div class="col-sm">
    {{ inputForm.length|as_crispy_field }}
  </div>
             <div class="col-sm">
    {{ inputForm.height|as_crispy_field }}
  </div>

                 <button class="btn btn-outline-primary" hx-post="{% url 'add_more_np_places_input_group' %}" hx-target="#add_more_places_input_group" hx-swap="beforebegin"><i class="bi bi-plus-circle"></i></button>
                 <button class="btn btn-outline-warning" hx-post="{% url 'copy_np_places_input_group' %}" hx-vals='{ "weight": {{ inputForm.weight }}, "width": {{ inputForm.width }}, "length": {{ inputForm.length }}, "height": {{ inputForm.height }}  }' hx-target="#add_more_places_input_group" hx-swap="beforebegin"><i class="bi bi-clipboard2-fill"></i></button>
             </div>


</div>

              <div id="add_more_places_input_group">
</div>

         <div class="row g-3">
  <div class="col-sm">
    {{ inputForm.description|as_crispy_field }}
  </div>
</div>

       <div class="row g-3">
  <div class="col-sm">
    {{ inputForm.cost|as_crispy_field }}
  </div>
  <div class="col-sm">
    {{ inputForm.dateDelivery|as_crispy_field }}
  </div>
</div>

    {% if messages %}
<ul class="messages my-4" style="color: red">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}

<p class="py-3" style="font-weight: inherit; color: orange"><em>Якщо отримали помилку, про те, що: Aдреса отримувача не належить отримувачу, потрібно додати адресу до організації, для якої попередньо вже було додано ЄДРПОУ</em></p>
<p class="py-3" style="font-weight: inherit; color: orange"><em>Якщо отримали помилку, про те, що: "ContactSender is removed" -> Settings -> Нова пошта REF INFO -> Sync REF with myself -> Навпроти свого імені нажати кнопку</em></p>

</ul>
             <div id="error"></div>
{% endif %}
<input type="hidden" name="next" value="{{ request.GET.next }}">
     <div class="hstack gap-4 justify-content-center m-4">
<button class="btn btn-primary" type="submit" name="save_and_print"><i class="bi bi-printer"></i> Зберегти та друкувати</button>
     <button class="btn btn-primary" type="submit" name="save_and_add"><i class="bi bi-file-earmark-plus"></i> Зберегти та додати інший</button>
     <button class="btn btn-primary" type="submit" name="save_and_exit"><i class="bi bi-x-square"></i> Зберегти та вийти</button>
         </div>
</form>
</div>

    <div class="text-sm-start fst-italic" style="font-size: small">
    При створенні ЕН з відділення типу поштамат обов'язково вказуються параметри розмірів.
        <br>
Обмеження:
         <br>
<li class="ps-4 my-0 py-0">Максимальне значення оцінної вартості для відправки із поштомату (параметр Cost) – 10000 грн.;</li>
         <br>
       <li class="ps-4 my-0 py-0">Максимально допустимі габарити вантажу: Ширина 40 см; Довжина 60 см; Висота 30 см;</li>

         <br>
        <li class="ps-4 my-0 py-0">Максимально допустима вага вантажу 20 кг;</li>

         <br>
При створенні відправлення із поштомату можна вказувати лише одне місце на одне відправлення.
         <br>
Після створення інтернет документа, ЕН з'являється у списку ЕН в особистому кабінеті.
     <br>
    </div>

{% endblock %}