{% load mathfilters %}
{% load myapp_extras %}
{% load bootstrap %}
{% load static %}
{% load crispy_forms_filters %}
{#<form method="POST" action="">#}
  {% if status_of_task %}
        <h2 class="{% if status_of_task == "SUCCESS" %} text-success {% else %} text-danger {% endif %}"><u>{{ status_of_task }}</u></h2>
    {% endif %}

<section class="h-100 shadow p-3 mb-5 rounded row d-flex justify-content-center align-items-center" style="background-color: #eee;">
<div class="d-flex justify-content-between">
    <h6>Створив: {{ delivery_order.from_user.first_name  }} {{ delivery_order.from_user.last_name  }}</h6>
    <h3>Поставка №{{ delivery_order.id}}</h3>
    <div style="align-content: end">
        <h6>Дата створення: <u>{{ delivery_order.date_created|date:"d.m.Y" }}</u> </h6>
        <form method="POST" action="{% url 'delivery_order_export_to_excel' delivery_order.id %}">
            {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary w-100" name="xls_button">
        Export to Excel
    </button>
            </form>
    </div>

</div>

<div class="container w-auto">
    <h5>Всього: {{ supDict|total_values_count }} назв.</h5>
    <h5>Всього: {{ total_count }} шт.</h5>
</div>
{% if not delivery_order.isHasBeenSaved %}
    <h5 class="text-center my-3 text-danger"><i>Товари ще не були додані на склад!</i></h5>
    {% else %}
    <h6 class="text-center my-3 text-danger"><i>Поставка закрита! Редагування або додавання неможливе</i></h6>
{% endif %}

  <div class="container h-100 pb-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <section class="col-10">
      {% for key, value in supDict.items %}

          <section class="h-100 p-3 my-4 row d-flex shadow-sm rounded" style="background-color: #f8f8f8;">
          {% if key %}
          <h5 style="font-weight: bold"><div class="row d-flex justify-content-center align-items-center h-100" style="color: darkgreen; font-weight: bold">{% if delivery_order.isHasBeenSaved %} Додано {% else %} Знайдено {% endif %} успішно: ({{ value|length }} назв / {{ value|total_counts }} шт.)</div></h5>
          {% else %}
              <h5><div class="row d-flex justify-content-center align-items-center h-100" style="color: orangered; font-weight: bold">  Не знайдено: ({{ value|length }} назв / {{ value|total_counts }} шт.)</div></h5>
          {% endif %}

          {% for item in value %}
              <div class="sup_in_delivery_order_recg_card card rounded mt-3">
        {% include 'partials/saved_instance_of_manual_added_sup_in_delivery.html' %}
              </div>
          {% endfor %}
          </section>
      {% endfor %}
      {% if not delivery_order.isHasBeenSaved %}
      <section class="h-100 p-3 my-4 row d-flex shadow-sm rounded justify-content-center align-items-center" style="background-color: #f8f8f8;">

<div class="container mb-4">
    <form method="GET" action="{% url 'add_more_scan_to_exist_delivery_order' delivery_order.id %}">
            {% csrf_token %}
        <button type="submit" class="text-center btn btn-outline-primary w-100" name="xls_button">
        Додати скан до поставки
    </button>
            </form>
</div>
      <div id="search-city-section">
    {% csrf_token %}
     <div class="mb-2">
  <label for="exampleFormControlInput1" class="form-label">Додати товар вручну:</label>
  <input  class="form-control" type="text"
           id="search-city-section"
           hx-post="{% url 'search-gen-sup-for-manual-add-in-delivery-order' delivery_order.id %}"
           hx-target='#results'
           hx-trigger="keyup changed delay:1000ms"
           name="search"
           placeholder="Пошук товару за назвою / REF / SMN code...">
</div>

    <div id="results">
        {% include 'partials/search_results_for_manual_add_in_delivery_order.html' %}
    </div>
          <hr>
                   <div id="results_choosed_gen_supps">

    </div>
 </div>
</section>
       {% endif %}
{#      <div>#}
{#          {% if isClient %}#}
{#          {{ orderForm.place|as_crispy_field }}#}
{#      {% endif %}#}
{#      {{ orderForm.comment|as_crispy_field }}#}
{#          {{ orderForm.isComplete|as_crispy_field }}#}
{#      </div>#}

          <form method="POST" action="{% url 'save-delivery' delivery_order.id %}">
               <section class="h-100 p-3 my-4 row d-flex shadow-sm rounded justify-content-center align-items-center" style="background-color: #f8f8f8;">
               {{ form.description|as_crispy_field }}
              {% csrf_token %}
          <button class="w-50 btn btn-primary my-2" type="submit" name="save">Зберегти коментар</button>
              </section>
               </form>

</section>
   <div class="card-body p-3 d-inline-flex justify-content-between align-items-center">
{% if not delivery_order.isHasBeenSaved %}
       <form id="deliveryForm" method="post" action="{% url 'save-delivery-and-add-to-db' delivery_order.id %}">
    {% csrf_token %}
    <button class="w-100 btn btn-primary my-2" type="submit" name="save">Додати товари до складу</button>
</form>
{% endif %}
       <div>
    <form method="POST" action="{% url 'delete-delivery-action' delivery_order.id %}" onsubmit="return showAlertConfirmationDeleteDeliveryAction('Ви впевнені що хочете видалити цю поставку? \n\nЦя дія видаляє тільки запис поставки в базі, а також всі товари, які її належать. \nЦя дія не видалить товари на складі!');">
        {% csrf_token %}
        <button class="btn btn-outline-danger mx-3" type="submit" name="delete_delivery">Видалити поставку</button>
    </form>
</div>
   {% if delivery_order.isHasBeenSaved %}
        <div>
    <form method="POST" action="{% url 'delete-delivery-action' delivery_order.id %}" onsubmit="return showAlertConfirmationDeleteDeliveryAction('Ви впевнені що хочете видалити цю поставку? \n\nЦя дія також видалить зазначену кількість кожного товару на складі!');">
        {% csrf_token %}
        <button class="btn btn-outline-danger mx-3" type="submit" name="delete_all">Видалити поставку разом з товарами, доданими на склад</button>
    </form>
</div>
   {% endif %}


</div>

      </div>
    </div>
{#<button hx-get="{% url 'save-delivery' supp.id for_delivery_order_id %}" class="btn btn-sm btn-primary" type="submit" >Зберегти</button>#}
<script>
document.getElementById('deliveryForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission

    const message = 'Ця дія додасть зазначену кількість кожного товару в цьому списку до основного списку товарів на складі!\n\n Продовжити?';
    if (confirm(message)) {
        const form = document.getElementById('deliveryForm');
        const formData = new FormData(form);
        fetch(form.action, {
            method: form.method,
            body: formData
        })
        .then(function(response) {
            if (response.ok) {
                return response.json(); // Parse the JSON response
            } else {
                throw new Error('Error creating folder: ' + response.statusText);
            }
        })
        .then(function(data) {
            // Process the data from the response
            if (data.message === 'Success') {
                alert('Success! \nDelivery order ID: ' + data.delivery_order_id + '\nTotal added: ' + data.total_count);
                location.replace('/all_deliveries');
            } else {
                alert('An unexpected error occurred.');
            }
        })
        .catch(function(error) {
            console.error('Error creating folder:', error);
            alert('An unexpected error occurred. ' + error);
        });
    } else {
        // User cancelled the confirmation
        return false;
    }
});
</script>


</section>
