{% extends 'supplies/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load bootstrap %}
{% load crispy_forms_tags %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form method="POST" action="">
  {% csrf_token %}

<section class="card shadow-sm p-4">
    <h5 class="pb-4"><u>Основна інформація</u></h5>
    {{ form.name|as_crispy_field }}
    {{ form.city_ref|as_crispy_field }}
    {{ form.address|as_crispy_field }}
    {{ form.link|as_crispy_field }}

    {% if not place.isAddedToNP %}{{ form.organization_code|as_crispy_field }}{% else %} <h5 class="pb-4">ЄДРПОУ: <u>{{ place.organization_code }}</u></h5>{% endif %}

{{ form.isPrivatePlace|as_crispy_field }}
</section>




<section class="card shadow-sm my-5 p-4" style="background-color: #eee;">
    <h5 class="pb-4">Дані для формування накладної для НП <u>{{ place.name_in_NP }}</u></h5>
    {% if adressSetExist %} {{ form.address_NP|as_crispy_field }} {% else %} <li style="color: red; margin-top: 2px"> Aдреси доставки відсутні, додайте адреси в секції нижче</li>  {% endif %}
    {% if workersSetExist %} {{ form.worker_NP|as_crispy_field }} {% else %} <li style="color: red; margin-top: 2px">Контактні особи відсутні, <a href="{% url 'newWorkerForPlace' clientId %}?next={{request.get_full_path|urlencode}}" class="btn-default">
          додайте нового працівника</a></li>
        {% endif %}
        </section>

<section class="card shadow-sm my-5 p-4" style="background-color: #eee;">
    <h5 class="pb-4"><u>Дадати нову адресу відправки</u></h5>

    <div class="btn-group pt-3" role="group" aria-label="Basic radio toggle button group" style="width: fit-content">
  <input type="radio" class="btn-check" name="recipientType" value="Warehouse" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">На відділення</label>

  <input type="radio" class="btn-check" name="recipientType" value="Doors" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Адресна доставка</label>
</div>
  <div class="container h-100 py-3">
      {% include 'partials/search-city.html' %}
      </div>
        </section>

{% if messages %}
<ul class="messages my-4" style="color: red">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<input type="hidden" name="next" value="{{ request.GET.next }}">
<button class="btn btn-outline-primary my-5" type="submit" name="generalSave">Зберегти</button>
</form>
{% endblock %}