{% extends 'supplies/base.html' %}
{% load static %}
{% load bootstrap %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form method="POST" action="">
  {% csrf_token %}

{{ form|bootstrap }}

<section class="card shadow-sm my-5" style="background-color: #eee;">
  <div class="container h-100 py-3">
      {% include 'partials/search-city.html' %}

      </div>
        </section>



<input type="hidden" name="next" value="{{ request.GET.next }}">
<button class="btn btn-outline-primary my-5" type="submit">Зберегти</button>
</form>
{% endblock %}