<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mx-5">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">© 2021 DMDX, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" target="_blank" href="https://www.instagram.com/o_stepanov/"><i class="bi bi-instagram"></i></a></li>
      <li class="ms-3"><a class="text-muted" target="_blank" href="https://www.facebook.com/ckobilka"><i class="bi bi-facebook"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="https://diamedix.ro/ro" target="_blank"><i class="bi bi-info-square"></i></a></li>
    </ul>
  </footer>