
{% load myapp_extras %}

<nav class="navbar navbar-expand-md navbar-light bg-light shadow p-3 mb-5 bg-white rounded">
    <div class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapseNavbar">
            <ul class="navbar-nav gap-2">
                     <li class="nav-item"><a href="/" class="btn btn-outline-primary{% if isHome %} active {% endif %}" aria-current="page">Склад</a></li>

                   <li class="nav-item"><a href="/orders" class="btn btn-outline-primary{% if isOrders %} active {% endif %}" aria-current="page">Замовлення</a></li>

            {% if request.user|has_group:"empl" or request.user.is_staff %}

                    <li class="nav-item"><a href="/clientsInfo" class="btn btn-outline-primary{% if isClients %} active {% endif %}" aria-current="page">Клієнти</a></li>

            <li class="nav-item"><a href="/serviceNotes" class="btn btn-outline-primary{% if isService %} active {% endif %}" aria-current="page">Сервісні записи</a></li>
            <li class="nav-item"><a href="/allDevices" class="btn btn-outline-primary{% if isDevices %} active {% endif %}" aria-current="page">Прилади</a></li>

            {% endif %}
            {% if request.user.is_staff %}
                <li class="nav-item dropdown mx-4">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Додати</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'create_note' %}">Сервісну замітку</a>
                              <a class="dropdown-item" href="/add-general-supply">Товар</a>
                              <a class="dropdown-item" href="{% url 'addClient' %}">Клієнта</a>
                              <div class="dropdown-divider"></div>
{#                              <a class="dropdown-item" href="{% url 'countOnHoldMake' %}">Separated link</a>#}
                            </div>
                        </li>
            {% endif %}



            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    {% if request.user %}

                        {% if cart_items > 0 %}
            <a class="btn btn-primary me-3" href="{% url 'cart' %}">
  <i class="bi bi-cart3"></i> <span class="badge bg-danger ms-2">{{ cart_items }}</span>
</a>
                            {% endif %}
            <span class="my-3">&#129409; Привіт, {{ request.user.first_name }} {{ request.user.last_name }} &#129409;</span>
            <span>
            <a class="btn btn-outline-primary ms-3" href="{% url 'logout' %}" role="button">Вийти</a>
            </span>
        {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
