{% extends 'supplies/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load bootstrap %}
{% load mathfilters %}
{% load myapp_extras %}

    {% block title %}
{{ title }}
{% endblock %}
{% block content %}


<div class="container py-1">

     <form method="get" class="form-inline justify-content-center">
         <div class="hstack gap-2 bg-light border shadow-sm p-3 mb-5 bg-body rounded justify-content-between">
             <div class="hstack gap-2">
                 {{ suppFilter.form.category|as_crispy_field }}
                 {{ suppFilter.form.ref|as_crispy_field }}
                 {{ suppFilter.form.SMN_code|as_crispy_field }}
                 {{ suppFilter.form.name|as_crispy_field }}
             </div>
             <button class="btn btn-outline-primary my-2" type="submit">Застосувати</button>

</div>

        </form>
     </div>
    <table class="table centred mt-3 w-auto mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="textAlignLeft">({{supplies|length}}) Назва товару</th>
      <th scope="col">Пакування / Тести</th>
        <th scope="col">Категорія</th>
        <th scope="col">REF</th>
        <th scope="col">SMN</th>
    <th>
    </th>
    </tr>
  </thead>
  <tbody id="cart-badge">
    {% for el in supplies %}

     <tr>
      <th scope="row" style="text-align: left; max-width: 350px">
      {% if el.image %}
      <div style="display:flex; flex-direction: row;">

          <a href="#" class="pop">
              <div datasrc="{{ el.image.url }}"><i class="bi bi-card-image"></i></div>
</a>

              <div class="modal fade" id="imagemodal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: rgba(255,246,16,0); border-color: rgba(255,246,16,0)">
      <div class="modal-body">
         <a class="full_image_view" href=""><img src="" class="imagepreview" style="width: 100%" ></a>
      </div>
    </div>
  </div>
</div>

              <script>
              $(function() {
		$('.pop').on('click', function() {
            let src = $(this).find('div').attr('datasrc')
			$('.imagepreview').attr('src', src);
            $('.full_image_view').attr('href', src);
			$('#imagemodal').modal('show');
		});
});
              </script>

{% endif %}
          {{ el.name }} </div> </th>
      <td>
       {% if el.package_and_tests is not none %}
                        {{ el.package_and_tests }}
                {% endif %}

      </td>
      <td>{{ el.category.name }}</td>
      <td>

          {% if el.ref is not none %}
                        {{ el.ref }}
                {% endif %}
      </td>
        <td>

          {% if el.SMN_code is not none %}
                        {{ el.SMN_code }}
                {% endif %}
      </td>
        <td>
{#        <div class="vstack gap-1 justify-content-end">#}
 <div class="hstack gap-1 justify-content-end">
        <div id="add_preorder_general_to_preorder-{{el.id}}">
            {% if el|in_precart_general:request.user %}
            <button class="btn btn-sm btn-success disabled" type="button"><i class="bi bi-cart-check"></i></button>
        {% else %}
{#            <button data-product={{ el.id }} data-action="add-general" class="btn btn-sm btn-primary add-btn preorder-general-supp-button" style="background: #5bc0de" data-toggle="tooltip" data-placement="top" title="В корзину передзамовлення (Назва)"><i class="bi bi-cart-plus"></i></button>#}

             <button hx-post="{% url 'add_preorder_general_to_preorder' el.id %}" hx-target="#add_preorder_general_to_preorder-{{el.id}}" class="btn btn-sm btn-primary add-btn" style="background: {% if supp.isInPreorderCart %} #036f3b {% else %} #5bc0de {% endif %}"  type="submit" ><i class="bi bi-cart-plus"></i></button>
        {% endif %}
        </div>

            {% if uncompletePreOrdersExist %}
    <a href="{% url 'addSupplyToExistPreOrderGeneral' el.id %}?next={{ request.get_full_path|urlencode }}" class="btn btn-sm btn-primary" role="button" data-toggle="tooltip" data-placement="top" title="Додати до існуючого передзамовлення (Назва)" style="background: #5bc0de"><i class="bi bi-bag-plus"></i></a>

            {% endif %}
        </div>
            </td>

     {% endfor %}
    </tr>

  </tbody>
</table>

    {% if supplies.paginator.num_pages > 1 %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if supplies.has_previous %}
            <li class="page-item"><a class="page-link" href="{% my_url supplies.previous_page_number 'page' request.GET.urlencode %}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
        {% endif %}
        {% for i in supplies.paginator.page_range %}
            {% if supplies.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if supplies.has_next %}
            <li class="page-item"><a class="page-link" href="{% my_url supplies.next_page_number 'page' request.GET.urlencode %}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}

