{% extends 'supplies/base.html' %}
{% load bootstrap %}
{% load mathfilters %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
  <div class="btn-group pb-3">
  <a href="/" class="btn btn-primary mx-2 {% if isAll %} active {% endif %}" aria-current="page">Всі</a>
  <a href="/childSupply" class="btn btn-primary {% if isChild %} active {% endif %}">Список товарів</a>
</div>

     <form method="get" class="form-inline justify-content-center">
         <div class="hstack gap-2 bg-light border shadow-sm p-3 mb-5 bg-body rounded justify-content-between">
             <div class="hstack gap-2">
                 {{ suppFilter.form.id|bootstrap }}
                 {{ suppFilter.form.ordering|bootstrap }}
                 {{ suppFilter.form.category|bootstrap }}
                 {{ suppFilter.form.ref|bootstrap }}
                 {{ suppFilter.form.name|bootstrap }}

             </div>
             <button class="btn btn-outline-primary my-2" type="submit">Застосувати</button>

</div>
        </form>

    <table class="table centred mt-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID/({{supplies|length}})</th>
      <th scope="col" class="textAlignLeft">Назва товару</th>
        <th scope="col">Категорія</th>
        <th scope="col">REF</th>
        <th scope="col">LOT / Кількість / Строк придатності</th>
{#        <th scope="col"></th>#}
    </tr>
  </thead>
  <tbody>
    {% for el in supplies %}

     <tr>
      <th scope="row">{{el.id}}</th>
      <td style="text-align: left;">{{ el.name }}</td>
      <td>{{ el.category.name }}</td>
      <td style="text-align: left;">

          {% if el.ref is not none %}
                        {{ el.ref }}
                {% endif %}
      </td>

         <td class="supplyRow">

<table class="table table-borderless mb-0">
  <tbody>
   {% for supp in el.general.all %}
    <tr>

      <td class="p-0" style="width: 150px">{% if supp.supplyLot is not none %} {{ supp.supplyLot }} {% endif %}</td>
      <td class="p-0"><p><span style="width: 50px">{{ supp.count }}</span>  {% if supp.countOnHold %}  <span style="width: 50px; background-color: orange" class="px-2 rounded-2">{{ supp.countOnHold }}</span> {% endif %} </p> </td>
      <td class="p-0" style="width: 150px"><div style="color:{% if supp.date_is_good %}blue{% elif supp.date_is_today %}orange{% else %}red{% endif %};">{{ supp.expiredDate|date:"d.m.Y" }}

                            </div></td>


    {% if request.user.is_staff %}
    <td class="p-0" style="width: 20px"><a href="{% url 'updateSupply' supp.id %}?next={{ request.get_full_path|urlencode }}" class="btn btn-sm btn-warning" role="button"><i class="bi bi-pencil"></i></a>

    </td>
    <td class="p-0" style="width: 20px">
            {% if not supp.isInCart %}
                <button data-product={{ supp.id }} data-action="add" class="btn btn-sm btn-primary add-btn update-cart mx-2 {% if supp.count|sub:supp.countOnHold == 0 %} disabled {% endif %}" type="submit"><i class="bi bi-cart-plus"></i></button>
            {% else %}
                <button class="btn btn-sm btn-success disabled ms-2" type="button"><i class="bi bi-cart-check"></i></button>
            {% endif %}
    </td>
    {% if uncompleteOrdersExist %}
    <td class="p-0" style="width: 20px">
    <a href="{% url 'addSupplyToExistOrder' supp.id %}" class="btn btn-sm btn-primary me-2 {% if supp.count|sub:supp.countOnHold == 0 %} disabled {% endif %}" role="button"><i class="bi bi-bag-plus"></i></a>
    </td>

            {% endif %}

    <td class="p-0" style="width: 20px">
    <button data-product={{ supp.id }} data-action="delete" class="btn btn-sm btn-danger add-btn delete-supp-button"><i class="bi bi-trash"></i></button>
    </td>

   {% endif %}
    </tr>
     {% endfor %}
  </tbody>
</table>

                    </td>
{% if request.user.is_staff %}
            <td>
                <a href="{% url 'addNewLot' el.id %}?next={{ request.get_full_path|urlencode }}"><i class="bi bi-plus"></i> LOT</a>

            <form action="{% url 'home' %}"
    method="POST" style="display: inline;" onsubmit="window.mytest()">
    {% csrf_token %}
    <input type="hidden" name="supp_id"
        value="{{ el.id }}" />
    <button type="submit" class="btn btn-sm btn-danger ms-2">
        <i class="bi bi-trash"></i>
    </button>
</form>
            <a href="{% url 'updateGeneralSupply' el.id %}?next={{ request.get_full_path|urlencode }}" class="btn btn-sm btn-warning" role="button"><i class="bi bi-pencil"></i></a>
<script type="text/javascript">window.mytest = function() { var isValid = confirm('Ви хочете видалити запис ?');if (!isValid) { event.preventDefault();  alert("It wont delete. Yay!");}}</script>
            </td>

{% endif %}
     {% endfor %}
    </tr>

  </tbody>
</table>
{% endblock %}


