{% extends 'supplies/base_for_home.html' %}
{% load crispy_forms_filters %}
{% load bootstrap %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container py-1">
     <div class="btn-group my-3">
  <a href="/" class="btn btn-primary {% if isAll %} active {% endif %}" aria-current="page">Всі</a>
  <a href="/childSupply" class="btn btn-primary mx-2 {% if isChild %} active {% endif %}">Список товарів</a>
     <a href="/historySupply" class="btn btn-primary {% if isHistory %} active {% endif %}">Історія товарів</a>
</div>

    <form method="get" class="form-inline justify-content-center">
         <div class="hstack gap-2 bg-light border shadow-sm p-3 mb-5 bg-body rounded justify-content-between">
             <div class="hstack gap-2">

                  {{ suppFilter.form.action_type|as_crispy_field }}
                 {{ suppFilter.form.category|as_crispy_field }}
                 {{ suppFilter.form.ref|as_crispy_field }}
                 {{ suppFilter.form.supplyLot|as_crispy_field }}
                 {{ suppFilter.form.name|as_crispy_field }}

             </div>
             <button class="btn btn-outline-primary my-2" type="submit">Застосувати</button>

</div>
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary" name="xls_button">
        Export to Excel
    </button>
        </form>

</div>
        <table class="table centred mt-3 w-auto mx-auto">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Дія</th>
      <th scope="col">{{supplies|length}} Назва товару</th>
      <th scope="col">Пакування / Тести</th>
        <th scope="col">Категорія</th>
        <th scope="col">REF</th>
        <th scope="col">SMN</th>
        <th scope="col">LOT</th>
        <th scope="col">Кількість</th>
        <th scope="col">Термін</th>
        <th scope="col">Оновлено</th>
    </tr>
  </thead>
  <tbody>
    {% for el in supplies %}

     <tr>
     <td>{{ el.get_action_type_value }} {% if el.supply_for_order %}
     <a href="{% url 'orderDetail' order_id=el.supply_for_order.id sup_id=el.get_sup_id_in_order_if_exist %}?next={{ request.get_full_path|urlencode }}" {% if not el.supply_for_order.isComplete %} class="link-warning" {% endif %} >№{{ el.supply_for_order.id }}</a>

     {% endif %}</td>
      <th scope="row" style="text-align: left">{{ el.general_supply.name }}</th>
      <td>{{ el.general_supply.package_and_tests }}</td>
     <td>{{ el.general_supply.category }}</td>
      <td>

          {% if el.general_supply.ref is not none %}
                        {{ el.general_supply.ref }}
                {% endif %}
      </td>
     <td>

          {% if el.general_supply.SMN_code is not none %}
                        {{ el.general_supply.SMN_code }}
                {% endif %}
      </td>

         <td class="supplyRow">
                    {% if el.supplyLot is not none %}
                        {{ el.supplyLot }}
                {% endif %}
                    </td>

            <td>{{ el.count }}</td>
            <td>{{ el.expiredDate|date:"d.m.Y" }}</td>
            <td>{{ el.dateCreated|date:"d.m.Y" }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>

{% endblock %}
