{% extends 'supplies/base_for_home.html' %}
{% load myapp_extras %}
{% load mathfilters %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="container py-1">
    <form method="POST" action="" style="display: inline;" onsubmit="window.mytest()">
  {% csrf_token %}
<h3>
    <input type="hidden" name="next" value="{{ request.GET.next }}">
         <small class="text-muted">Для: {{order.place.name}}, {{order.place.city_ref.name}}</small>{% if not order.isComplete and request.user.is_staff %} <button class="btn btn-outline-danger mx-2" type="submit" name="delete"><i class="bi bi-trash"></i></button>{% endif %}
</h3>
    </form>
{% if order.comment %}
<h4>
  <small class="text-muted">Комментарій: {{order.comment}}</small>
</h4>
{% endif %}
    {% if order.for_agreement %}
<h4>
    <a href="{% url 'agreementDetail' order.for_agreement.id %}?next={{ request.get_full_path }}">Договір: № {{order.for_agreement.description}}</a>
</h4>
{% endif %}
    {% if order.for_preorder %}
<h5>
    <a href="{% url 'preorderDetail' order.for_preorder.id %}?next={{ request.get_full_path }}">Передзамовлення: № {{order.for_preorder.id}}</a>
</h5>
        {% if order.for_preorder.comment %}
        <h6>
        {{ order.for_preorder.comment }}
        </h6>
            {% endif %}
{% endif %}

<h5>
  <small class="text-muted">Cтворив: {{order.userCreated.last_name}}</small>
</h5>
{% if order.isComplete %}
        <p class="mb-2"><span>Статус:</span> <span class="complete">Відправлено</span> <span>{{order.dateSent|date:"d.m.Y" }}</span></p>
        {% else %}
        <p class="mb-2"><span>Статус:</span> <span class="waiting">В очікуванні</span></p>
        {%  endif %}

    {% if order.statusnpparselfromdoucmentid_set.exists %}
        <div class="container bg-light border shadow-sm p-3 mb-5 bg-body rounded justify-content-between">
        <h5>Нова пошта інфо: </h5>
        {% for document in order.statusnpparselfromdoucmentid_set.all %}
            <h6><u>Накладна № {{ document.docNumber }}</u></h6>
            <p class="mb-2"><span>Статус НП:</span> <b style="color: {% if document.status_code == '9' %} green {% elif document.status_code == '2' %} red {% else %} orange {% endif %}">{{ document.status_desc }}</b>  </p>
            <li><u style="font-style: italic">Відправник:</u> {{ document.warehouseSender }}</li>
            <li><u style="font-style: italic">Отримувач:</u> {{ document.counterpartyRecipientDescription }}, {{ document.recipientAddress }}, {{ document.recipientFullNameEW }}</li>
            <li><u style="font-style: italic">Тел.:</u> {{ document.phoneRecipient }} </li>
            <li><u style="font-style: italic">Очікувана дата доставки:</u> {{ document.scheduledDeliveryDate }} </li>
            <li><u style="font-style: italic">Дата прибуття:</u> {{ document.actualDeliveryDate }} </li>
            <li><u style="font-style: italic">Дата видачі:</u> {{ document.recipientDateTime }} </li>

            <li><u style="font-style: italic">Об'ємна вага:</u> {{ document.documentWeight }}</li>
            <li><u style="font-style: italic">Фактична вага:</u> {{ document.factualWeight }}</li>
            <li><u style="font-style: italic">Платник доставки:</u> {{ document.payerType }}</li>
            <li><u style="font-style: italic">Оплата:</u> {{ document.paymentMethod }}</li>
            <li><u style="font-style: italic">Кількість місць:</u> {{ document.seatsAmount }}</li>
            <li><u style="font-style: italic">Вартість доставки:</u> {{ document.documentCost }} грн.</li>
            <li><u style="font-style: italic">Оціночна вартість:</u> {{ document.announcedPrice }} грн.</li>
            <li><u style="font-style: italic">Опис:</u> {{ document.cargoDescriptionString }}</li>

        {% endfor %}
    </div>
    {% endif %}


{#        <a href="{% url 'orderDetailPdf' order.id %}">PDF</a>#}
    <a href="{% url 'orderDetailCsv' order.id %}">Export to Excel</a>
</div>

    <table class="table centred mt-3 w-auto mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="textAlignLeft" style="min-width: 400px">({{supplies|length}}) Назва товару</th>
      <th scope="col">Пакування / Тести</th>
        <th scope="col">Категорія</th>
        <th scope="col">REF</th>
        <th scope="col">SMN</th>
        <th scope="col">LOT</th>
        <th scope="col">Кількість</th>
        <th scope="col">Термін</th>
      {% if request.user|has_group:"empl" or request.user.is_staff %}
          <th scope="col">Оновлено</th>
    {% endif %}
        {% if not order.isComplete and request.user.is_staff %}
        <th scope="col">Action</th>
         {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for el in supplies %}

     <tr style="{% if el.id == highlighted_sup_id %} background-color: #eafff0 {% endif %}">
      <th scope="row" style="text-align: left">{{forloop.counter}}. {% if el.generalSupply %} {{ el.generalSupply.name }} {% else %} {{ el.internalName }} {% endif %}</th>
      <td style="min-width: 100px">{% if el.generalSupply %}{{ el.generalSupply.package_and_tests }}{% endif %}</td>
      <td style="min-width: 100px">{% if el.generalSupply %}{{ el.generalSupply.category.name }}{% endif %}</td>
      <td style="min-width: 100px">
          {% if el.generalSupply.ref is not none %}
                        {% if el.generalSupply %} {{ el.generalSupply.ref }} {% else %} {{ el.internalRef }} {% endif %}
                {% endif %}
      </td>
     <td style="min-width: 100px">{% if el.generalSupply.SMN_code is not none %}{{ el.generalSupply.SMN_code }}{% endif %}</td>
         <td style="min-width: 100px">{% if el.lot is not none %}{{ el.lot }}{% endif %}</td>
            <td>
                <div class="hstack gap-2 justify-content-center">
                    {% if not order.isComplete and request.user.is_staff %}
                    <button data-product="{{ el.id }}" data-action="remove" class="btn btn-lg update-order-count text-primary" type="submit"><i class="bi bi-dash"></i></button>
                    {% endif %}
                    {{ el.count_in_order }}
                {% if not order.isComplete and request.user.is_staff %}
                    <button data-product="{{ el.id }}" data-action="add" class="btn btn-lg update-order-count text-primary {% if el.count_in_order|sub:el.supply.count|sub:el.supply.countOnHold == 0 %} disabled {% endif %}" type="submit"><i class="bi bi-plus"></i></button>
                {% endif %}

                </div>
            </td>
            <td style="min-width: 100px">{{ el.date_expired|date:"d.m.Y" }}</td>
     {% if request.user|has_group:"empl" or request.user.is_staff %}
          <td style="min-width: 100px">{{ el.date_created|date:"d.m.Y" }}</td>
     {% endif %}
     {% if not order.isComplete and request.user.is_staff %}
     <td><button data-product={{ el.id }} data-action="delete" class="btn btn-sm btn-danger add-btn delete-suppinorder-button"><i class="bi bi-trash"></i></button></td>
     {% endif %}
    </tr>
   {% endfor %}
  </tbody>
</table>
<script type="text/javascript">window.mytest = function() { var isValid = confirm('Ви хочете видалити це замовлення ?');if (!isValid) { event.preventDefault();  alert("It wont delete. Yay!");}}</script>

{% endblock %}


