{% extends 'supplies/base.html' %}
{% load static %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="container" style="height: 75px">
  <div class="row">
    <div class="col">
              <a href="/orders" class="btn btn-primary {% if isOrdersTab %} active {% endif %}" aria-current="page">Замовлення {% if cartCountData.orders_incomplete > 0 %} <span class="badge bg-warning ms-2">{{ cartCountData.orders_incomplete }}</span> {% endif %}</a>
  <a href="/preorders" class="btn btn-primary {% if isPreordersTab %} active {% endif %}">Передзамовлення {% if cartCountData.preorders_incomplete > 0 %} <span class="badge ms-2" style="background: #5bc0de">{{ cartCountData.preorders_incomplete }}</span> {% endif %}</a>

    </div>
    <div class="col d-flex justify-content-end" id="register_print_buttons">
        {% include 'partials/register_print_orders_chekbox_buttons.html' %}
    </div>
  </div>

</div>

    <div class="list-group list-group-radio d-grid gap-2 border-0 w-auto" id="order_delete_cell">
        {% include 'partials/order_delete_cell.html' %}
</div>
    </form>
{% endblock %}