{% extends 'supplies/base.html' %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
    {% for order in orders %}
<div class="listOrders">
<div class="hstack gap-3">

 <a href="{% url 'orderDetail' order.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" style="border-radius: 1rem;">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-1">Заказ №: {{order.id}}</h6>
        <p class="mb-1">Для: {{order.place.name}}, {{order.place.city}}</p>

        {% if order.isComplete %}
        <p class="mb-2"><span>Статус:</span> <span class="complete">Відправлено</span></p>
        {% else %}
        <p class="mb-2"><span>Статус:</span> <span class="waiting">В очікуванні</span></p>
        {% endif %}

        {% if order.comment %}
            <p class="mb-0"> <span class="text-muted">Комментарiй:</span> {{order.comment}}</p>
        {% endif %}

      </div>
      <div>
          {% if order.isComplete %}
      <p class="opacity-60 text-nowrap date">Дата відправки: {{order.dateSent|date:"d.m.Y"}}</p>
          {% endif %}
      <p class="opacity-60 text-nowrap date">Дата створення: {{order.dateCreated|date:"d.m.Y"}}</p>
      </div>

    </div>
  </a>

{% if not order.isComplete %}
<button data-product="{{ order.id }}" data-action="update" class="btn btn-primary btn-lg add-btn update-order-status" type="submit"><i class="bi bi-send"></i></button>
{% endif %}
    <form action="" onsubmit="window.mytest()">
        <button data-product="{{ order.id }}" data-action="delete" class="btn btn-danger btn-lg add-btn update-order-status" type="submit""><i class="bi bi-trash"></i></button>
    </form>
  </div>
        </div>
    {% endfor %}
<script type="text/javascript">window.mytest = function() { var isValid = confirm('Ви хочете видалити запис ?');if (!isValid) { event.preventDefault();  alert("It wont delete. Yay!");}}</script>
{% endblock %}