{% extends 'supplies/base.html' %}
{% load myapp_extras %}
{% load crispy_forms_filters %}
{% load static %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
 <form method="post" class="form-inline justify-content-center">
    {% csrf_token %}
    <div class="container ">
  <div class="row">
    <div class="col">
              <a href="/orders" class="btn btn-primary {% if isOrdersTab %} active {% endif %}" aria-current="page">Замовлення {% if cartCountData.orders_incomplete > 0 %} <span class="badge bg-warning ms-2">{{ cartCountData.orders_incomplete }}</span> {% endif %}</a>
   {% if request.user|has_group:"empl" or request.user.is_staff %}
    <a href="{% url 'agreements' %}" class="btn btn-primary {% if isAgreementsTab %} active {% endif %}" aria-current="page">Договори</a>
  {% endif %}
        <a href="/preorders" class="btn btn-primary {% if isPreordersTab %} active {% endif %}">Передзамовлення {% if cartCountData.preorders_incomplete > 0 %} <span class="badge ms-2" style="background: #5bc0de">{{ cartCountData.preorders_incomplete }}</span> {% endif %}</a>

    {% if messages %}
<ul class="messages my-4" style="color: red">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}

</ul>
             <div id="error"></div>
{% endif %}

    </div>
    <div class="col d-flex justify-content-end" id="register_print_buttons">
        {% include 'partials/register_print_orders_chekbox_buttons.html' %}
    </div>
  </div>

{#    <form method="get" class="form-inline justify-content-center">#}
         <div class="hstack w-50 gap-2 bg-light border shadow-sm px-4 py-2 my-3 bg-body rounded justify-content-between">
             <div class="hstack gap-2">
                 {{ orderFilter.form.isComplete|as_crispy_field }}
                 {% if request.user|has_group:"empl" or request.user.is_staff %}
                 {{ orderFilter.form.for_state_of_client|as_crispy_field }}
                 {% endif %}
             </div>
             <button class="btn btn-outline-primary my-2" type="submit">Застосувати</button>

</div>
{##}
{#        </form>#}

</div>
    <div class="container" id="order_delete_cell">
        {% include 'partials/order_delete_cell.html' %}
</div>
  </form>
 <form method="get" class="form-inline justify-content-center">
        {% if orders.paginator.num_pages > 1 %}
<nav aria-label="Page navigation" class="mt-5">
    <ul class="pagination justify-content-center">
        {% if orders.has_previous %}
            <li class="page-item"><a class="page-link" href="{% my_url orders.previous_page_number 'page' request.GET.urlencode %}">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
        {% endif %}

    {% for n in orders.paginator.page_range %}
  {% if orders.number == n %}
       <li class="page-item active"><a class="page-link" href="#">{{ n }}</a></li>
  {% elif n > orders.number|add:'-3' and n < orders.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="{% my_url n 'page' request.GET.urlencode %}">{{ n }}</a></li>
  {% endif %}
{% endfor %}

{#        {% for i in orders.paginator.page_range %}#}
{#            {% if orders.number == i %}#}
{#                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>#}
{#            {% else %}#}
{#                <li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>#}
{#            {% endif %}#}
{#        {% endfor %}#}
        {% if orders.has_next %}
            <li class="page-item"><a class="page-link" href="{% my_url orders.next_page_number 'page' request.GET.urlencode %}">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
        {% endif %}

    </ul>
</nav>
{% endif %}
 </form>

{% endblock %}