{% extends 'supplies/base_for_home.html' %}
{% load myapp_extras %}
{% load mathfilters %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <div class="container">


    <div class="allSupply">
<h3>
  <small class="text-muted">Для: {{order.place.name}}, {{order.place.city_ref.name}}</small>
</h3>
{% if order.comment %}
<h4>
  <small class="text-muted">Коментар: {{order.comment}}</small>
</h4>
{% endif %}
<h5>
  <small class="text-muted">Cтворив: {{order.userCreated.last_name}}</small>
</h5>
{% if order.isComplete %}
        <p class="mb-2"><span>Статус:</span> <span class="complete">Відправлено</span> <span>{{order.dateSent|date:"d.m.Y" }}</span></p>
        {% else %}
        <p class="mb-2"><span>Статус:</span> <span style="color: #5bc0de; font-weight: bold">В очікуванні</span></p>
        {%  endif %}


        <div class="hstack gap-3">
          {#        <a href="{% url 'orderDetailPdf' order.id %}">PDF</a>#}
    <a href="{% url 'preorderDetailCsv' order.id %}">Export to Excel (До поставки)</a>
    <a href="{% url 'preorderDetailCsvAll' order.id %}">Export to Excel (Весь список)</a>
        </div>


</div>

    <table class="table centred mt-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{{supplies|length}}</th>
      <th scope="col" class="textAlignLeft">Назва товару</th>
        <th scope="col">Пакування / Тести</th>
    <th scope="col">Категорія</th>
        <th scope="col">REF</th>
        <th scope="col">SMN code</th>
        <th scope="col">Замовлено</th>
    {% if order.isComplete %}
        <th scope="col">Поставлено</th>
        <th scope="col">Борг</th>


    <th scope="col" >
            <div class="d-flex {% if not request.user.is_staff %} justify-content-start {% endif %} ">
                <div style="width: 110px;">LOT</div>
            <div style="width: 110px;">Кількість</div>
            <div style="width: 110px;">Термін</div>
            </div>
        </th>
    {% endif %}

        {% if order.isAvailableToEdit and request.user.is_staff %}
        <th scope="col"></th>
         {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for el in supplies %}
     {% include 'supplies/preorder_detail_list_item.html' %}


   {% endfor %}
  </tbody>
</table>
 <div class="text-center my-3">
    <h5><u>{% if order.orders_for_preorder.all %}Замовлення, що були зроблені за цим передзамовленням{% else %} За цим передзамовленням ще немає замовлень {% endif %}</u></h5>
    </div>
    <div class="list-group list-group-radio d-grid gap-2 border-0 w-auto" id="order_delete_cell">
        {% with orders=order.orders_for_preorder.all %}
        {% include 'partials/order_delete_cell.html' %}
        {% endwith %}
</div>


</div>


{% endblock %}


