{% extends 'supplies/base_for_home.html' %}
{% load mathfilters %}
    {% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <div class="container w-auto">
<h3>
  <small class="text-muted">Для: {{order.place.name}}, {{order.place.city_ref.name}}</small>
</h3>
{% if order.comment %}
<h4>
  <small class="text-muted">Комментарій: {{order.comment}}</small>
</h4>
{% endif %}
<h5>
  <small class="text-muted">Cтворив: {{order.userCreated.last_name}}</small>
</h5>
{% if order.isComplete %}
        <p class="mb-2"><span>Статус:</span> <span class="complete">Відправлено</span> <span>{{order.dateSent|date:"d.m.Y" }}</span></p>
        {% else %}
        <p class="mb-2"><span>Статус:</span> <span style="color: #5bc0de; font-weight: bold">В очікуванні</span></p>
        {%  endif %}



{#        <a href="{% url 'orderDetailPdf' order.id %}">PDF</a>#}
    <a href="{% url 'preorderDetailCsv' order.id %}">Export to Excel</a>
</div>
     <form method="POST" action="">
    <table class="table centred mt-3 w-auto mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="textAlignLeft">({{supplies|length}}) Назва товару</th>
        <th scope="col">Категорія</th>
        <th scope="col">REF</th>
        <th scope="col" >
            <div class="d-flex {% if not request.user.is_staff %} justify-content-start {% endif %} ">
                <div style="width: 110px;">LOT</div>
            <div style="width: 110px;">Кількість</div>
            <div style="width: 110px;">Термін</div>
            </div>
        </th>
    <th scope="col" style="width: 25px;">Борг</th>
    <th scope="col" style="width: 25px;">Відвантажено</th>
    <th scope="col" style="width: 25px;">Всього</th>
    </tr>
  </thead>
  <tbody>

    {% for el in supplies %}

{#     {% if el.generalSupply %}#}
{#         #}
{#        {% else %}#}
{#         #}
{#        {% endif %}#}
         <tr style="background-color:{% if el.state_of_delivery == 'Complete' %} #eafff0 {% elif el.state_of_delivery == 'Partial' %} #fffdea {% else %} #fff0ea{% endif %}">

      <th scope="row" style="text-align: left; max-width: 350px">{{ el.generalSupply.name }}</th>
      <td> {{ el.generalSupply.category.name }}</td>
      <td>

          {% if el.generalSupply.ref is not none %}
                        {{ el.generalSupply.ref }}
                {% endif %}
      </td>

         <td class="supplyRow">

<table class="table table-borderless mb-0" style="background: rgb(245,245,245); border-radius: 8px;">
  <tbody>
   {% for supp in el.generalSupply.general.all %}
    <tr>


      <td  style="width: 120px"><div>{% if supp.supplyLot is not none %} {{ supp.supplyLot }} {% endif %}</div></td>
      <td style="width: 110px"><div><span>{{ supp.count }}</span>  {% if supp.countOnHold %}  <span style="background-color: orange" class="px-2 rounded-2">{{ supp.countOnHold }}</span> {% endif %} </div> </td>
      <td style="width: 100px"><div style="color:{% if supp.date_is_good %}blue{% elif supp.date_is_today %}orange{% else %}red{% endif %};">{{ supp.expiredDate|date:"d.m.Y" }}
 </div>
      </td>

    <td>
    {% if el.state_of_delivery != 'Complete' %}
        <div class="hstack gap-3 justify-content-end">


            <label for="form1">Доступно: <u style="font-weight: bolder">{{ supp.count|sub:supp.countOnHold }}</u></label>
        {% if supp.count|sub:supp.countOnHold > 0 %}

            <input id="form1" min="0" name="count_list" {% if el.count_in_order|sub:el.count_in_order_current > supp.count|sub:supp.countOnHold  %} value="{{ supp.count|sub:supp.countOnHold }}" {% else %} value="{{ el.count_in_order|sub:el.count_in_order_current }}" {% endif %} type="number" style="width: 100px"
                  class="form-control form-control-sm" />
                  <input type="hidden" name="count_list_id" value="{{ supp.id }}">

            <div class="form-check">
  <input class="form-check-input" type="checkbox" value="{{ supp.id }}" id="flexCheckDefault" name="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
  </label>
</div>
{% endif %}




    </div>
{% endif %}
    </td>



     {% endfor %}
  </tbody>
</table>
</td>
         <td>
             <h5><span class="badge bg-secondary">{{ el.count_in_order|sub:el.count_in_order_current }}</span></h5>
         </td>
          <td>
             <h5><span class="badge bg-secondary">{{ el.count_in_order_current }}</span></h5>
         </td>
          <td>
             <h5><span class="badge bg-secondary">{{ el.count_in_order }}</span></h5>
         </td>

             {% if el.supplyinorder_set.all %}
                 <td class="supplyRow">

<table class="table table-borderless mb-0" style="background: rgb(245,245,245); border-radius: 8px;">
  <tbody>
   {% for supp in el.supplyinorder_set.all %}
    <tr>


      <td  style="width: 120px"><div>{% if supp.lot is not none %} {{ supp.lot }} {% endif %}</div></td>
      <td style="width: 110px"><div>{{ supp.count_in_order }}</div> </td>
{#      <td style="width: 100px"><div style="color:{% if supp.date_is_good %}blue{% elif supp.date_is_today %}orange{% else %}red{% endif %};">{{ supp.date_expired|date:"d.m.Y" }}#}
       <td style="width: 100px"><div>{{ supp.date_expired|date:"d.m.Y" }}
 </div>
      </td>
       <td style="width: 50px">
           <a href="{% url 'orderDetail' order_id=supp.supply_for_order.id sup_id=supp.id %}?next={{ request.get_full_path|urlencode }}" {% if not supp.supply_for_order.isComplete %} class="link-warning" {% endif %}>№{{ supp.supply_for_order.id }}</a></td>
     {% endfor %}
  </tbody>
</table>
</td>
                 {% endif %}

</tr>

     {% endfor %}


  </tbody>
</table>

            {% csrf_token %}
     <div class="container w-auto mx-auto">
         {% if messages %}
<ul class="messages my-4" style="color: red">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}

</ul>
             <div id="error"></div>
{% endif %}

     <div class="my-3">
  <label for="exampleFormControlTextarea1" class="form-label">Коментар</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" name="comment_for_order" rows="2"></textarea>
</div>


         <button class="btn btn-outline-primary my-2" type="submit">Створити замовлення</button>
</div>

        </form>



{% endblock %}


