{% extends 'supplies/base.html' %}
{% load crispy_forms_filters %}
{% load bootstrap %}
{% load mathfilters %}

    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form method="POST" action="">

<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
          {% for item in supplies %}
        <div class="card rounded-5 mb-4">
          <div class="card-body px-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-3 col-lg-3 col-xl-3">
               {% if item.supply %}
                   <div style="font-size: large">{{ item.supply.general_supply.name }}</div>
                  {% if item.supply.general_supply.ref %}
                      <p><span class="text-muted">REF: {{ item.supply.general_supply.ref }}</span></p>
                  {% endif %}
              {% endif %}

               {% if item.general_supply %}
              <div style="font-size: large">{{ item.general_supply.name }}</div>
                  {% if item.general_supply.ref %}
                      <p><span class="text-muted">REF: {{ item.general_supply.ref }}</span></p>
                  {% endif %}
              {% endif %}

              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  <div class="vstack gap-2">
                  {% if item.supply %}
                      {% if item.supply.countOnHold %}
                          <label for="form1">Доступно: {{ item.supply.count|sub:item.supply.countOnHold }}</label>
                          {% else %}
                          <label for="form1">Доступно: {{ item.supply.count }}</label>
                      {% endif %}
                  {% elif item.general_supply %}
                      <label for="form1" style="color: #ab4302">Товар відсутній</label>
                  {% endif %}


                <input id="form1" min="0" name="count_list" value="{{ item.count_in_order }}" type="number"
                  class="form-control form-control-sm" />
                  <input type="hidden" name="count_list_id" value="{{ item.id }}">
                  </div>

              </div>








              <div class="col-md-2 col-lg-2 col-xl-2 offset-lg-1">
                  {% if item.lot %}
                      <span class="text-muted"> LOT:</span> <span>{{ item.lot }}</span>
                  {% endif %}

              {% if item.date_expired %}
                  <p><span class="text-muted"> Строк:</span> <span>{{ item.date_expired|date:"d.m.Y" }}</span> </p>
              {% endif %}
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <button data-product="{{ item.id }}" data-action="delete-precart" class="btn btn-lg add-btn update-cart-detail text-danger" type="button"><i class="bi bi-trash"></i></button>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}


  {% csrf_token %}
        {% if not placeExist %}
         <select class="form-select mb-3" aria-label="Default select example" name="city" hx-get="{% url 'get_place_for_city_in_cart' %}" hx-trigger="change" hx-target="#places">
  <option selected>Вибрати місто</option>
             {% for city in cities %}
                 <option value="{{city.id}}">{{ city.name }}</option>
             {% endfor %}
</select>
      <div id="places">
          {% include 'partials/choose_place_in_cart.html' %}
      </div>
      {% endif %}
      {{ orderForm|crispy }}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
     <button class="btn btn-outline-primary my-2" type="submit">Зберегти</button>

      </div>
    </div>
  </div>
</section>
 </form>
{% endblock %}