{% extends 'supplies/base.html' %}
{% load crispy_forms_filters %}
{% load bootstrap %}
{% load mathfilters %}

    {% block title %}
{{ title }}
{% endblock %}

{% block content %}
<form method="POST" action="">

<section class="h-100 shadow p-3 mb-5 rounded" style="background-color: #eee;">
  <div class="container h-100 py-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <section class="col-10">
      {% for key, value in supDict.items %}

          <section class="h-100 p-3 my-4 row d-flex shadow-sm rounded" style="background-color: #f8f8f8;">
          <h6><div class="row d-flex justify-content-center align-items-center h-100">  {{ key }}</div></h6>

          {% for item in value %}
        <div class="card rounded-5 mt-3">
          <div class="card-body px-3">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-4 col-xl-4">
               {% if item.general_supply %}
              <div class="mb-2" style="font-size: large">{{ item.general_supply.name }}</div>
                  {% if item.general_supply.ref %}
                      <div class="text-muted" style="font-size: small">REF: {{ item.general_supply.ref }}</div>
                  {% endif %}
                   {% if item.general_supply.SMN_code %}
                       <div class="text-muted" style="font-size: small">SMN: {{ item.general_supply.SMN_code }}</div>
                  {% endif %}
                   {% if item.general_supply.category %}
                       <div class="text-muted" style="font-size: smaller"> Категорія: {{ item.general_supply.category }}</div>
              {% endif %}
              {% endif %}

              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <input id="form1{{ item.id }}" min="0" name="count_{{ item.id }}" value="{{ item.count_in_order }}" type="number"
                  class="form-control form-control-sm" hx-trigger="keyup changed delay:1000ms" hx-post="{% url 'update_count_in_preorder_cart' item.id %}" hx-target="#precart-badge"/>
                  <input type="hidden" id="hidden{{ item.id }}" name="count_id_{{ item.id }}" value="{{ item.id }}">

              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 offset-lg-1">
                  {% if item.general_supply.package_and_tests %}
                      <span class="text-muted"> Пакування / Тести:</span> <span>{{ item.general_supply.package_and_tests }}</span>
                  {% endif %}
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <button data-product="{{ item.id }}" data-action="delete-precart" class="btn btn-lg add-btn update-cart-detail text-danger" type="button"><i class="bi bi-trash"></i></button>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
          </section>
      {% endfor %}

      <div class="pb-3">
{#          {% if isClient %}#}
{#          {{ orderForm.place|as_crispy_field }}#}
{#      {% endif %}#}
      {{ orderForm.comment|as_crispy_field }}
          {{ orderForm.isComplete|as_crispy_field }}
      </div>

      <style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>

  {% csrf_token %}
        {% if not isClient %}
         <select class="form-select mb-3" aria-label="Default select example" name="city" hx-get="{% url 'get_place_for_city_in_cart' %}" hx-trigger="change" hx-target="#places">
  <option selected>Вибрати місто</option>
             {% for city in cities %}
                 <option value="{{city.id}}">{{ city.name }}</option>
             {% endfor %}
</select>
      <div id="places">
          {% include 'partials/choose_place_in_cart.html' %}
      </div>
            {% else %}
            {% if places.count > 1 %}
                <select class="form-select mb-3" aria-label="Default select example" name="place_id" hx-get="{% url 'choose_preorder_in_cart_for_client' %}" hx-trigger="change" hx-target="#preorders_for_client">
  <option selected>Вибрати організацію</option>
             {% for place in places %}
                 <option value="{{place.id}}">{{ place.name }}, {{ place.city_ref.name }}</option>
             {% endfor %}
</select>
                {% else %}
                <input type="hidden" name="place_id" value="{{ places.first.id }}">
                {% endif %}

      <div id="preorders_for_client">
          {% include 'partials/choose_preorder_in_cart_for_client.html' %}
      </div>


{#            <input type="hidden" name="orderType" value="Preorder">#}
{#            <input type="hidden" name="next" value="{{ request.GET.next }}">#}
{#     <button class="btn btn-outline-primary my-2" style="width: 100px" type="submit">Зберегти</button>#}
      {% endif %}

      </div>
    </div>
</section>
 </form>
{% endblock %}