{% extends 'supplies/base.html' %}
{% load myapp_extras %}
{% load crispy_forms_filters %}
{% load bootstrap %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
    <section class="h-100 shadow p-3 mb-5 rounded" style="background-color: #f5f5f5;">
<form method="post" action="" id="myForm" onsubmit="return showAlert();">
  {% csrf_token %}
  <div class="container w-50 p-3 align-items-start">
      <div class="container w-100 p-3 my-3 align-items-start bg-light border shadow-sm">
          <h5>Тип штрих-коду</h5>
      <div class="form-check">
  <input class="form-check-input" type="radio" name="barcode_type" id="flexRadioDefault1" value="Siemens" checked>
  <label class="form-check-label" for="flexRadioDefault1">
    Siemens
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="barcode_type" value="Alegria" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault2">
    Alegria
  </label>
</div>
</div>
    {{ form.description|as_crispy_field }}
      <button class="btn btn-outline-primary my-5 w-100" type="submit">Зберегти</button>
  </div>


</form>

{# JavaScript to show the alert #}
<script>
  function showAlert() {
    // You can customize the alert message here
    if (confirm('Кожного разу ця дія запускає створення нової поставки!' +
        '\nСтворити нову поставку та додати всі товари до неї?' +
        '\n\n(Якщо потрібно додати товари до вже існуючої поставки, будь-ласка, оберіть' +
        ' поставку зі списку!)')) {
      return true; // Continue with the form submission
    } else {
      return false; // Cancel the form submission
    }
  }
</script>

{# {% include 'partials/progress-bar.html' %} #}
    </section>
{% endblock %}
